Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

chore: remove importer benchmark harness
  packages/tonik_parse/benchmark/import_benchmark.dart
Due: none

style(tonik_parse): remove model index commentary
  packages/tonik_parse/lib/src/model_importer.dart
Due: tonik_parse

fix(tonik_parse)!: preserve undeclared operation tags
  CHANGELOG.md
  integration_test/binary_models/binary_models_test/test/base64_test.dart
  integration_test/binary_models/binary_models_test/test/content_encoded_test.dart
  integration_test/cloudflare/cloudflare_test/test/cloudflare_test.dart
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/test/example_test.dart
  integration_test/gov/gov_test/test/default_test.dart
  integration_test/kubernetes/kubernetes_test/test/kubernetes_test.dart
  integration_test/shopify/shopify_test/test/shopify_test.dart
  integration_test/totem/totem_test/test/totem_test.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/api_client/imported_operation_tags_test.dart
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/lib/src/operation_importer.dart
  packages/tonik_parse/test/operation/operation_tags_test.dart
Due: tonik_parse

ci: remove integration test sharding
  .github/workflows/integration_tests.yml
  scripts/analyze_integration_packages.sh
  scripts/integration_package_utils.sh
  scripts/test_integration_packages.sh
Due: none

test(tonik): cover operation tags through public generation APIs
  CHANGELOG.md
  packages/tonik/test/operation_tags_generation_test.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/api_client/imported_operation_tags_test.dart
  packages/tonik_parse/CHANGELOG.md
Due: none

test: keep operation tag regressions in parser tests
  packages/tonik/test/operation_tags_generation_test.dart
Due: none

chore(tonik_parse): remove tag registry comment
  packages/tonik_parse/lib/src/operation_importer.dart
Due: tonik_parse

fix: deduplicate compound members during parsing
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/test/src/generator/generator_compound_member_order_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/compound_member_order_test.dart
  packages/tonik_parse/test/model/model_allof_test.dart
  packages/tonik_parse/test/model/model_anyof_test.dart
  packages/tonik_parse/test/model/model_oneof_test.dart
  packages/tonik_parse/test/model/ref_siblings_resolution_test.dart
Due: tonik_generate, tonik_parse

Preserve compound declaration order during generation
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/all_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: tonik_core, tonik_generate

Remove redundant compound generation order test
  packages/tonik_generate/test/src/transport/multipart_regular_model_test.dart
Due: none

ci: download Imposter directly in test jobs
  .github/workflows/integration_tests.yml
  scripts/setup_imposter.sh
  scripts/setup_integration_tests.sh
Due: none

Preserve scalar selection semantics
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

fix(tonik_generate): preserve semantic codec ordering
  integration_test/composition/composition_test/test/all_of_test.dart
  integration_test/composition/composition_test/test/any_of_test.dart
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/all_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: tonik_core, tonik_generate

test(tonik_generate): assert generated codec methods
  packages/tonik_generate/test/src/model/any_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: none

test(tonik_generate): format codec expectations
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
Due: none

fix: declare remaining fields in primary constructors
  packages/tonik_util/lib/src/multipart/tonik_multipart_body.dart
  packages/tonik_util/lib/src/offset_date_time.dart
  packages/tonik_util/lib/src/server_config.dart
  packages/tonik_util/lib/src/tonik_cancellation.dart
Due: tonik_util

refactor: adopt primary constructors in tonik_core
  packages/tonik_core/analysis_options.yaml
  packages/tonik_core/lib/src/config/deprecated_config.dart
  packages/tonik_core/lib/src/config/enum_config.dart
  packages/tonik_core/lib/src/config/filter_config.dart
  packages/tonik_core/lib/src/config/name_overrides_config.dart
  packages/tonik_core/lib/src/config/schema_content_type.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_core/lib/src/config/transport_config.dart
  packages/tonik_core/lib/src/model/additional_properties_policy.dart
  packages/tonik_core/lib/src/model/api_document.dart
  packages/tonik_core/lib/src/model/contact.dart
  packages/tonik_core/lib/src/model/content_type.dart
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/example.dart
  packages/tonik_core/lib/src/model/external_documentation.dart
  packages/tonik_core/lib/src/model/license.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/model/operation.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/property_encoding.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_core/lib/src/model/response.dart
  packages/tonik_core/lib/src/model/response_header.dart
  packages/tonik_core/lib/src/model/security_scheme.dart
  packages/tonik_core/lib/src/model/server.dart
  packages/tonik_core/lib/src/model/server_variable.dart
  packages/tonik_core/lib/src/model/tag.dart
  packages/tonik_core/lib/src/model/text_encoding.dart
  packages/tonik_core/lib/src/transformer/allof_normalizer.dart
  packages/tonik_core/lib/src/transformer/config_transformer.dart
  packages/tonik_core/lib/src/transformer/content_type_normalizer.dart
  packages/tonik_core/lib/src/transformer/deprecation_handler.dart
  packages/tonik_core/lib/src/transformer/filter_applier.dart
  packages/tonik_core/lib/src/transformer/name_override_applier.dart
  packages/tonik_core/lib/src/util/context.dart
  packages/tonik_core/lib/src/util/stable_model_key.dart
Due: tonik_core

chore: remove redundant constructor documentation
  packages/tonik_util/analysis_options.yaml
  packages/tonik_util/lib/src/date.dart
  packages/tonik_util/lib/src/decoding/decoding_exception.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/encoding_exception.dart
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/lib/src/encoding/property_value.dart
  packages/tonik_util/lib/src/multipart/tonik_multipart_body.dart
  packages/tonik_util/lib/src/offset_date_time.dart
  packages/tonik_util/lib/src/server_config.dart
  packages/tonik_util/lib/src/tonik_cancellation.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
  packages/tonik_util/lib/src/tonik_result.dart
Due: tonik_util

ci: cancel stale workflow runs
  .github/workflows/integration_tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: enforce repository-wide Dart formatting
  .github/workflows/lint.yml
Due: none

refactor: migrate integration test helpers
  integration_test/multipart/multipart_test/analysis_options.yaml
  integration_test/multipart/multipart_test/test/multipart_wire.dart
  integration_test/test_helpers/analysis_options.yaml
  integration_test/test_helpers/lib/src/backend_test_support.dart
  integration_test/test_helpers/lib/src/backend_test_support_dio.dart
  integration_test/test_helpers/lib/src/backend_test_support_http.dart
  integration_test/test_helpers/lib/src/imposter_server.dart
  integration_test/test_helpers/lib/src/raw_request_server.dart
  integration_test/test_helpers/lib/src/test_result.dart
Due: none

refactor(tonik_generate): share operation execution through inheritance
  integration_test/petstore_config/petstore_test/test/deprecation_test.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/operation/dio_operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/http_operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/test/src/generator/generator_operations_and_wrappers_test.dart
  packages/tonik_generate/test/src/operation/dio_operation_runtime_test.dart
  packages/tonik_generate/test/src/operation/http_operation_runtime_test.dart
  packages/tonik_generate/test/src/operation/operation_execution_structure_test.dart
  packages/tonik_generate/test/src/operation/operation_execution_test_support.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/operation/support/dio_runtime_probe.dart.txt
  packages/tonik_generate/test/src/operation/support/empty_probe.dart.txt
  packages/tonik_generate/test/src/operation/support/http_runtime_probe.dart.txt
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

style(tonik_generate): apply Dart 3.13.3 formatting
  packages/tonik_generate/lib/src/operation/dio_operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/http_operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/test/src/operation/operation_execution_structure_test.dart
  packages/tonik_generate/test/src/operation/operation_execution_test_support.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
Due: tonik_generate

fix: satisfy multipart planner lint
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
Due: tonik_generate

fix(tonik_generate): align CI runtime fixtures and dependencies
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/operation/dio_operation_runtime_test.dart
  packages/tonik_generate/test/src/operation/http_operation_runtime_test.dart
Due: tonik_generate

test(tonik_generate): declare Dio fixture dependency
  packages/tonik_generate/pubspec.yaml
Due: none

refactor(tonik_generate): adopt primary constructors in operation bases
  packages/tonik_generate/lib/src/operation/dio_operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/http_operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_generator.dart
  packages/tonik_generate/test/src/operation/operation_execution_structure_test.dart
  packages/tonik_generate/test/src/operation/operation_execution_test_support.dart
Due: tonik_generate

test(tonik_generate): remove temporary runtime harness
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/operation/dio_operation_runtime_test.dart
  packages/tonik_generate/test/src/operation/http_operation_runtime_test.dart
  packages/tonik_generate/test/src/operation/operation_execution_structure_test.dart
  packages/tonik_generate/test/src/operation/operation_execution_test_support.dart
  packages/tonik_generate/test/src/operation/support/dio_runtime_probe.dart.txt
  packages/tonik_generate/test/src/operation/support/empty_probe.dart.txt
  packages/tonik_generate/test/src/operation/support/http_runtime_probe.dart.txt
Due: none

test(tonik_generate): cover HTTP operation base generation
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: none

test: describe composed multipart fixture
  integration_test/multipart/multipart_test/test/all_of_files_and_metadata_wire_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
Due: none

test: inline multipart client setup
  integration_test/multipart/multipart_test/test/all_of_files_and_metadata_wire_test.dart
Due: none

test: inline multipart encoding lookup
  packages/tonik_parse/test/request_body_importer_test.dart
Due: none

refactor: localize multipart merge helpers
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/lib/src/transport/multipart_merge_method_generator.dart
  packages/tonik_generate/lib/src/transport/operation_request_plan.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/transport/multipart_merge_method_generator_test.dart
  packages/tonik_util/lib/src/multipart/merge_multipart_values.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/multipart/merge_multipart_values_test.dart
Due: tonik_generate, tonik_util

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
