Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

test: remove redundant result type comments
  integration_test/immutable_collections/immutable_collections_test/test/api_test.dart
Due: none

Remove redundant result type comments
  integration_test/immutable_collections/immutable_collections_test/test/api_test.dart
Due: none

fix: require non-null ServerConfig constructor arguments
  packages/tonik_util/lib/src/server_config.dart
Due: tonik_util

Enforce non-null ServerConfig constructor arguments
  packages/tonik_util/lib/src/server_config.dart
Due: tonik_util

feat: add transport backend configuration
  packages/tonik/bin/tonik.dart
  packages/tonik/lib/src/config/cli_config.dart
  packages/tonik/lib/src/config/cli_parser.dart
  packages/tonik/lib/src/config/config_loader.dart
  packages/tonik/lib/src/config/tonik_config.dart
  packages/tonik/test/cli_integration_test.dart
  packages/tonik/test/src/config/cli_parser_test.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_core/lib/src/config/transport_config.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/config/tonik_config_test.dart
  packages/tonik_core/test/config/transport_config_test.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/test/src/generator/generator_transport_backend_test.dart
Due: tonik, tonik_core, tonik_generate

Add transport backend configuration
  packages/tonik/bin/tonik.dart
  packages/tonik/lib/src/config/cli_config.dart
  packages/tonik/lib/src/config/cli_parser.dart
  packages/tonik/lib/src/config/config_loader.dart
  packages/tonik/lib/src/config/tonik_config.dart
  packages/tonik/test/cli_integration_test.dart
  packages/tonik/test/src/config/cli_parser_test.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_core/lib/src/config/transport_config.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/config/tonik_config_test.dart
  packages/tonik_core/test/config/transport_config_test.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/test/src/generator/generator_transport_backend_test.dart
Due: tonik, tonik_core, tonik_generate

Refactor generated API code
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_data_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_options_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_header_plan.dart
  packages/tonik_generate/lib/src/transport/operation_request_plan.dart
  packages/tonik_generate/lib/src/transport/operation_request_planner.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator_factory.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/response_type_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_file_generator_test.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_security_test.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/generator/generator_transport_backend_test.dart
  packages/tonik_generate/test/src/operation/cookie_parameter_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_deprecation_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/pubspec_generator_test.dart
  packages/tonik_generate/test/src/server/server_file_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
  packages/tonik_generate/test/src/transport/transport_architecture_test.dart
  packages/tonik_generate/test/src/transport/transport_backend_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

refactor: restructure generated API code
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_data_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_options_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_header_plan.dart
  packages/tonik_generate/lib/src/transport/operation_request_plan.dart
  packages/tonik_generate/lib/src/transport/operation_request_planner.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator_factory.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/response_type_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_file_generator_test.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_security_test.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/generator/generator_transport_backend_test.dart
  packages/tonik_generate/test/src/operation/cookie_parameter_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_deprecation_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/pubspec_generator_test.dart
  packages/tonik_generate/test/src/server/server_file_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
  packages/tonik_generate/test/src/transport/transport_architecture_test.dart
  packages/tonik_generate/test/src/transport/transport_backend_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

Add generated artifact manifest support
  integration_test/additional_properties/additional_properties_test/pubspec.lock
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/asana/asana_test/test/asana_test.dart
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defaulted/defaulted_test/pubspec.lock
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/github/github_test/test/github_test.dart
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.lock
  integration_test/nullable_bodies/nullable_bodies_test/pubspec.lock
  integration_test/openai/openai_test/test/openai_test.dart
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/recursive_map/recursive_map_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_duplicate_field_lines_test.dart
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/api_client/api_client_file_generator.dart
  packages/tonik_generate/lib/src/generated_artifact_manifest.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/model/model_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_file_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/request/request_body_file_generator.dart
  packages/tonik_generate/lib/src/response/response_file_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_file_generator.dart
  packages/tonik_generate/lib/src/server/server_file_generator.dart
  packages/tonik_generate/lib/src/util/model_worker_pool.dart
  packages/tonik_generate/test/src/generator/generator_artifact_manifest_test.dart
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
Due: tonik_generate

feat: add generated artifact manifest support
  integration_test/additional_properties/additional_properties_test/pubspec.lock
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/asana/asana_test/test/asana_test.dart
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defaulted/defaulted_test/pubspec.lock
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/github/github_test/test/github_test.dart
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.lock
  integration_test/nullable_bodies/nullable_bodies_test/pubspec.lock
  integration_test/openai/openai_test/test/openai_test.dart
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/recursive_map/recursive_map_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_duplicate_field_lines_test.dart
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/api_client/api_client_file_generator.dart
  packages/tonik_generate/lib/src/generated_artifact_manifest.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/model/model_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_file_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/request/request_body_file_generator.dart
  packages/tonik_generate/lib/src/response/response_file_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_file_generator.dart
  packages/tonik_generate/lib/src/server/server_file_generator.dart
  packages/tonik_generate/lib/src/util/model_worker_pool.dart
  packages/tonik_generate/test/src/generator/generator_artifact_manifest_test.dart
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
Due: tonik_generate

refactor: centralize generated artifact writing
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/api_client/api_client_file_generator.dart
  packages/tonik_generate/lib/src/generated_artifact_writer.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/model/model_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_file_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/request/request_body_file_generator.dart
  packages/tonik_generate/lib/src/response/response_file_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_file_generator.dart
  packages/tonik_generate/lib/src/server/server_file_generator.dart
  packages/tonik_generate/test/src/generated_artifact_writer_test.dart
Due: tonik_generate

Centralize generated artifact writing
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/api_client/api_client_file_generator.dart
  packages/tonik_generate/lib/src/generated_artifact_writer.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/model/model_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_file_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/request/request_body_file_generator.dart
  packages/tonik_generate/lib/src/response/response_file_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_file_generator.dart
  packages/tonik_generate/lib/src/server/server_file_generator.dart
  packages/tonik_generate/test/src/generated_artifact_writer_test.dart
Due: tonik_generate

test: remove redundant defaulted test comment
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
Due: none

Remove redundant defaulted test comment
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
Due: none

Remove generated artifact manifest tracking
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/generated_artifact_manifest.dart
  packages/tonik_generate/lib/src/generated_artifact_writer.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/operation/operation_file_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/test/src/generator/generator_library_exports_test.dart
Due: tonik_generate

refactor: remove generated artifact manifest tracking
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/generated_artifact_manifest.dart
  packages/tonik_generate/lib/src/generated_artifact_writer.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/operation/operation_file_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/test/src/generator/generator_library_exports_test.dart
Due: tonik_generate

chore: format files
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_builders.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/flat_value_codec_plan.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/generator/generator_library_security_test.dart
  packages/tonik_generate/test/src/generator/generator_parallel_models_test.dart
  packages/tonik_generate/test/src/generator/generator_request_and_response_files_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
  packages/tonik_generate/test/src/util/to_deep_object_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/model/model_composite_null_member_test.dart
  packages/tonik_parse/test/model/model_null_only_schema_test.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/simple_encoder_extensions.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
  packages/tonik_util/test/src/decoding/simple_decoder_test.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/label_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/matrix_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/string_map_delimited_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_generate, tonik_parse, tonik_util

feat: implement Dio backend generation
  docs/features.md
  integration_test/naming/naming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/naming_test/test/response_body_collision_test.dart
  integration_test/server_variables/server_variables_test/test/server_test.dart
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/operation_request_planner.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
Due: tonik_generate

Update generated API code and supporting tests
  docs/features.md
  integration_test/naming/naming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/naming_test/test/response_body_collision_test.dart
  integration_test/server_variables/server_variables_test/test/server_test.dart
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/operation_request_planner.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
Due: tonik_generate

Preserve OpenAPI cancelToken parameter names
  integration_test/naming/naming_test/test/naming_test.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: tonik_generate

fix: preserve OpenAPI cancelToken parameter names
  integration_test/naming/naming_test/test/naming_test.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: tonik_generate

Refactor Dio client factory setup
  integration_test/server_variables/server_variables_test/test/server_test.dart
Due: none

test: simplify Dio client factory setup
  integration_test/server_variables/server_variables_test/test/server_test.dart
Due: none

Implement HTTP client adapter lifecycle generation
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/pubspec_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/transport_backend_generator_test.dart
Due: tonik_generate

feat: generate HTTP client adapter lifecycle
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/pubspec_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/transport_backend_generator_test.dart
Due: tonik_generate

Refine project implementation and supporting tests
  packages/tonik_generate/lib/src/transport/dio/dio_options_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_headers_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/request_headers_generator.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_headers_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

feat: generate HTTP request bodies and headers
  packages/tonik_generate/lib/src/transport/dio/dio_options_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_headers_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/request_headers_generator.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_headers_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

test: expand HTTP body encoding coverage for nested models
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
Due: none

Expand HTTP body encoding tests for nested models
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
Due: none

Expand form-urlencoded body generator coverage
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
Due: none

test: expand form-urlencoded body generator coverage
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
Due: none

test: expand HTTP dispatch coverage for each method
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: none

Expand HTTP dispatch tests for each method
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: none

refactor: remove redirect settings from HTTP request generation
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/operation_request_plan.dart
  packages/tonik_generate/lib/src/transport/operation_request_planner.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
Due: tonik_generate

Remove redirect settings from HTTP request generation
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/operation_request_plan.dart
  packages/tonik_generate/lib/src/transport/operation_request_planner.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
Due: tonik_generate

test: expand HTTP backend dispatch generation coverage
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: none

Expand HTTP backend dispatch generation tests
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: none
