Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

refactor: consolidate default-resolution across class properties and operation params
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/effective_default.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/src/model/effective_default_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
Due: tonik_core, tonik_generate

refactor: make dropped-default warning location-neutral and report spec types
  packages/tonik_core/lib/src/model/effective_default.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_core, tonik_generate

refactor(tonik_core): hide effectiveDefault from the public barrel
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/src/model/effective_default_test.dart
Due: tonik_core

refactor(tonik_generate): drop unreachable reserved names from default helper
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

revert: drop spec-keyword mapping in dropped-default warning
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

feat(tonik_generate): materialise enum defaults as const variant references
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/defaulted_enums/defaulted_enums_test/analysis_options.yaml
  integration_test/defaulted_enums/defaulted_enums_test/pubspec.lock
  integration_test/defaulted_enums/defaulted_enums_test/pubspec.yaml
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enum_parameters_test.dart
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enums_test.dart
  integration_test/defaulted_enums/openapi.yaml
  integration_test/inference/inference_test/test/inference_test.dart
  integration_test/openai/openai_test/test/openai_test.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

refactor: centralise enum variant naming on NameManager + tighten enum-default coverage
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enum_parameters_test.dart
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enums_test.dart
  integration_test/defaulted_enums/openapi.yaml
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/test/src/naming/name_manager_test.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

refactor: tighten enum variant-name contract + cover remaining enum operation parameter paths
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

test: cover header-location + non-default override + invalid enum default on operation params
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enum_parameters_test.dart
  integration_test/defaulted_enums/openapi.yaml
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: none

feat(tonik_generate): materialise const defaults for lists, maps, and free-form values
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/defaulted_collections/defaulted_collections_test/analysis_options.yaml
  integration_test/defaulted_collections/defaulted_collections_test/pubspec.lock
  integration_test/defaulted_collections/defaulted_collections_test/pubspec.yaml
  integration_test/defaulted_collections/defaulted_collections_test/test/defaulted_collections_test.dart
  integration_test/defaulted_collections/openapi.yaml
  integration_test/immutable_collections/immutable_collections_test/test/filters_defaults_test.dart
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

refactor(tonik_generate): warn on every non-composite dropped default + split collection failure modes
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

test(inference): connectors now encodes the schema default empty list when omitted
  integration_test/inference/inference_test/test/inference_test.dart
Due: none

test: consolidate defaulted_{primitives,enums,collections} into one integration suite
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/defaulted/defaulted_test/analysis_options.yaml
  integration_test/defaulted/defaulted_test/pubspec.lock
  integration_test/defaulted/defaulted_test/pubspec.yaml
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defaulted/openapi.yaml
  integration_test/defaulted_collections/defaulted_collections_test/pubspec.yaml
  integration_test/defaulted_collections/defaulted_collections_test/test/defaulted_collections_test.dart
  integration_test/defaulted_collections/openapi.yaml
  integration_test/defaulted_enums/defaulted_enums_test/analysis_options.yaml
  integration_test/defaulted_enums/defaulted_enums_test/pubspec.lock
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enum_parameters_test.dart
  integration_test/defaulted_enums/defaulted_enums_test/test/defaulted_enums_test.dart
  integration_test/defaulted_enums/openapi.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/analysis_options.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/pubspec.lock
  integration_test/defaulted_primitives/defaulted_primitives_test/pubspec.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/test/defaulted_parameters_test.dart
  integration_test/defaulted_primitives/defaulted_primitives_test/test/defaulted_primitives_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: none

chore: cleanup
  .vscode/settings.json
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/inference/inference_test/test/inference_test.dart
  integration_test/medama/medama_test/test/stats_api_test.dart
  integration_test/medama/medama_test/test/user_api_test.dart
  integration_test/medama/medama_test/test/website_api_test.dart
  integration_test/petstore/petstore_test/test/pet_test.dart
  integration_test/petstore_config/petstore_test/test/overrides_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/lib/src/util/example_doc_formatter.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
  packages/tonik_parse/test/model/model_default_value_test.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate

feat(tonik_generate): emit static get default for non-const-materialisable defaults
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defaulted/openapi.yaml
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

fix(tonik_generate): address PR review findings for runtime-default emission
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

test(tonik_generate): tighten coverage for runtime-default emission paths
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

refactor(tonik_generate): polish runtime-default emission and tighten coverage
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defaulted/openapi.yaml
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

docs(tonik_generate): correct two comment inaccuracies in default_resolution
  packages/tonik_generate/lib/src/util/default_resolution.dart
Due: tonik_generate

fix(tonik_generate): drop dead receiver-null guard when inlining const literals
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/petstore_config/petstore_test/test/pet_test.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

docs(tonik_generate): prune comment volume in default_resolution
  packages/tonik_generate/lib/src/util/default_resolution.dart
Due: tonik_generate

docs(tonik_generate): prune comments across remaining PR files
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

test(tonik_generate): strip redundant tests across the runtime-fallback suite
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: none

refactor(tonik_generate): always log dropped defaults; drop suppression hacks
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

refactor(tonik_generate): inline shallow test helper; drop redundant carrier field
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

chore: simplify logging
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_resolution.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/default_resolution_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/runtime_default_emitter_test.dart
Due: tonik_generate

refactor(tonik_generate): cache operation default resolution per operation
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/api_client/api_client_file_generator_test.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_security_test.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_deprecation_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_cache_test.dart
Due: tonik_generate

docs(tonik_generate): tighten OperationDefaultsCache doc comment
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
Due: tonik_generate

docs: add default values guide and feature matrix entry
  .gitignore
  docs/defaults.md
  docs/features.md
Due: none

test: cover default-value edge cases and OAS 3.0/3.1 parity
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defaulted/openapi.yaml
  integration_test/immutable_collections/immutable_collections_test/test/filters_defaults_test.dart
  integration_test/immutable_collections/openapi.yaml
  packages/tonik/pubspec.yaml
  packages/tonik/test/oas_version_defaults_parity_test.dart
Due: none

docs+test: tighten default-value claims and assertion coverage
  .gitignore
  docs/defaults.md
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/defaulted/openapi.yaml
  integration_test/immutable_collections/immutable_collections_test/test/filters_defaults_test.dart
  packages/tonik/test/oas_version_defaults_parity_test.dart
Due: none

test: tighten default-value assertions
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik/test/oas_version_defaults_parity_test.dart
Due: none

test: drop redundant comment block on Node group
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
Due: none

docs(defaults): rewrite from the user's API perspective
  docs/defaults.md
Due: none

feat(generate): parallelize model file generation across isolates
  docs/configuration.md
  packages/tonik/README.md
  packages/tonik/bin/tonik.dart
  packages/tonik/lib/src/config/config_loader.dart
  packages/tonik/lib/src/config/tonik_config.dart
  packages/tonik/test/oas_version_defaults_parity_test.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/model/model_file_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/util/model_worker_pool.dart
  packages/tonik_generate/test/src/generator/generator_any_of_test.dart
  packages/tonik_generate/test/src/generator/generator_library_metadata_test.dart
  packages/tonik_generate/test/src/generator/generator_library_security_test.dart
  packages/tonik_generate/test/src/generator/generator_models_test.dart
  packages/tonik_generate/test/src/generator/generator_operations_and_wrappers_test.dart
  packages/tonik_generate/test/src/generator/generator_parallel_models_test.dart
  packages/tonik_generate/test/src/generator/generator_request_and_response_files_test.dart
  packages/tonik_generate/test/src/generator/generator_root_files_test.dart
  packages/tonik_generate/test/src/generator/generator_server_and_library_test.dart
  packages/tonik_generate/test/src/model/model_file_generator_test.dart
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
Due: tonik, tonik_core, tonik_generate

refactor(generate): simplify workerCount semantics and tighten worker pool
  docs/configuration.md
  packages/tonik/bin/tonik.dart
  packages/tonik/lib/src/config/config_loader.dart
  packages/tonik/lib/src/config/tonik_config.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/util/model_worker_pool.dart
  packages/tonik_generate/test/src/generator/generator_parallel_models_test.dart
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
Due: tonik, tonik_core, tonik_generate

docs(generate): trim comments across worker pool changes
  packages/tonik/bin/tonik.dart
  packages/tonik/lib/src/config/tonik_config.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/model/model_file_generator.dart
  packages/tonik_generate/lib/src/util/model_worker_pool.dart
Due: tonik, tonik_core, tonik_generate

docs: brief Parallel Model File Generation section in configuration.md
  docs/configuration.md
Due: none

docs: drop redundant precedence line from parallel section
  docs/configuration.md
Due: none

docs: drop writeOne doc comment
  packages/tonik_generate/lib/src/model/model_file_generator.dart
Due: tonik_generate
