Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

Handle hostile OpenAPI names
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
Due: tonik_generate

Harden server and multipart names
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

Use generated server name namespace
  integration_test/naming/naming_test/test/naming_test.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
Due: tonik_generate

Add behavioral contract tests for additionalProperties handling
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  integration_test/additional_properties/openapi.yaml
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_parse/test/model/model_bare_object_test.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: none

Normalize additionalProperties into a non-null core policy
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  packages/tonik_core/lib/src/model/additional_properties_policy.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/src/model/additional_properties_policy_test.dart
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_parse/test/model/model_additional_properties_policy_test.dart
Due: tonik_core

Add the flat value codec planner
  packages/tonik_generate/lib/src/util/flat_value_codec_plan.dart
  packages/tonik_generate/test/src/util/flat_value_codec_plan_test.dart
Due: tonik_generate

Unify unknown-value runtime encoding boundaries
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  integration_test/additional_properties/openapi.yaml
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_util/lib/src/decoding/form_decoder.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/unknown_value_encoding.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/unknown_value_encoding_test.dart
Due: tonik_generate, tonik_util

Add shared additional-properties code builders
  packages/tonik_generate/lib/src/util/additional_properties_builders.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_generate, tonik_util

Delete the legacy AdditionalProperties types
  packages/tonik_core/lib/src/model/additional_properties_policy.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/test/src/model/additional_properties_policy_test.dart
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
  packages/tonik_generate/test/src/util/flat_value_codec_plan_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_additional_properties_policy_test.dart
  packages/tonik_parse/test/model/model_additional_properties_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/unknown_value_encoding.dart
  packages/tonik_util/lib/tonik_util.dart
Due: tonik_core, tonik_generate, tonik_parse, tonik_util

Drop the lint suppression and narration comments from the contract suite
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
Due: none

Migrate class generation onto the shared additional-properties path
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_builders.dart
  packages/tonik_generate/lib/src/util/flat_value_codec_plan.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
  packages/tonik_generate/test/src/util/flat_value_codec_plan_test.dart
  packages/tonik_util/lib/src/encoding/unknown_value_encoding.dart
  packages/tonik_util/test/src/encoding/unknown_value_encoding_test.dart
Due: tonik_generate, tonik_util

Remove the legacy additional-properties generator helpers
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_helpers.dart
  packages/tonik_generate/test/src/util/additional_properties_helpers_test.dart
Due: tonik_generate

Drop comments that restate the adjacent code
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
Due: tonik_core, tonik_generate

Route styled and urlencoded multipart object parts off toString
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

Classify bare objects as open Any-valued maps
  integration_test/inference/inference_test/test/inference_test.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/single_schema_import_test.dart
Due: tonik_generate, tonik_parse

Harden AP flat decoding and unknown-value encoding after review
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  integration_test/boolean_schemas/boolean_schemas_test/test/form_body_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_builders.dart
  packages/tonik_generate/lib/src/util/flat_value_codec_plan.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
  packages/tonik_generate/test/src/util/flat_value_codec_plan_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/test/model/model_bare_object_test.dart
  packages/tonik_util/lib/src/decoding/form_decoder.dart
  packages/tonik_util/lib/src/decoding/object_decoder.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/lib/src/encoding/unknown_value_encoding.dart
  packages/tonik_util/test/src/decoding/object_decoder_test.dart
  packages/tonik_util/test/src/encoding/unknown_value_encoding_test.dart
Due: tonik_generate, tonik_util

Migrate allOf generation onto the shared additional-properties path
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
Due: tonik_generate

chore: cleanup comments
  integration_test/additional_properties/openapi.yaml
  packages/tonik_core/lib/src/model/additional_properties_policy.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_builders.dart
  packages/tonik_generate/lib/src/util/additional_properties_helpers.dart
  packages/tonik_generate/lib/src/util/flat_value_codec_plan.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/map_property_value_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_util/lib/src/decoding/object_decoder.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/unknown_value_encoding.dart
Due: tonik_core, tonik_generate, tonik_parse, tonik_util

fix: apply base64 transform for contentEncoding: base64 strings
  integration_test/binary_models/binary_models_test/test/content_media_type_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_binary_test.dart
  packages/tonik_parse/test/model/model_importer_pass2_test.dart
Due: tonik_parse

Prefer base64 contentEncoding and ignore local artifacts
  .claude/agents/tonik-code-reviewer.md
  .claude/agents/tonik-contract-verifier.md
  .claude/agents/tonik-error-reviewer.md
  .claude/agents/tonik-generator.md
  .claude/agents/tonik-scope-reviewer.md
  .claude/agents/tonik-test-runner.md
  .claude/harness/evaluator.md
  .claude/skills/code-builder/SKILL.md
  .claude/skills/dart-fix-runtime-errors/SKILL.md
  .claude/skills/dart-generate-test-mocks/SKILL.md
  .claude/skills/dart-resolve-package-conflicts/SKILL.md
  .claude/skills/dart-use-pattern-matching/SKILL.md
  .claude/skills/flutter-implement-json-serialization/SKILL.md
  .claude/skills/gen-eval/SKILL.md
  .claude/skills/integration-tests/SKILL.md
  .claude/skills/openapi-spec/SKILL.md
  .claude/skills/testing/SKILL.md
  .gitignore
  AGENTS.md
  packages/tonik_parse/lib/src/importer.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_binary_test.dart
  packages/tonik_parse/test/model/model_importer_pass2_test.dart
Due: tonik_parse

fix: encode empty form object property values
  integration_test/query_parameters/query_parameters_test/test/byte_object_test.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

fix: omit empty arrays from form bodies
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

Fix empty form object query parameters
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

Fix positive exponent query encoding
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

Handle empty enums during parsing
  packages/tonik_generate/test/src/generator/generator_models_test.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_enum_test.dart
Due: tonik_parse

Handle server variable default outside enum values
  integration_test/server_variables/openapi.yaml
  integration_test/server_variables/server_variables_test/test/server_test.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
Due: tonik_generate

Privatize generated enum raw value storage
  integration_test/additional_properties/additional_properties_test/test/additional_properties_test.dart
  integration_test/music_streaming/music_streaming_test/test/albums_test.dart
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  integration_test/petstore_config/petstore_test/test/order_status_model_test.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
Due: tonik_generate

Fix call member naming collisions
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/test/src/model/class_copy_with_generator_test.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/naming/property_name_normalizer_test.dart
Due: tonik_generate

Fold null type members of oneOf and anyOf into nullability
  integration_test/composition/composition_test/test/null_member_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_composite_null_member_test.dart
Due: tonik_parse

Decode empty List<Never> properties correctly
  integration_test/boolean_schemas/boolean_schemas_test/test/type_verification_test.dart
  integration_test/boolean_schemas/openapi.yaml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
Due: tonik_generate

Serve valid user responses in totem imposter mock
  integration_test/totem/totem_test/imposter/response.groovy
Due: none

Fix response body header collision
  integration_test/naming/naming_test/test/response_body_collision_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/response_property_normalizer.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/response/response_class_generator_test.dart
  packages/tonik_generate/test/src/response/response_multi_body_generator_test.dart
  packages/tonik_generate/test/src/util/response_property_normalizer_test.dart
Due: tonik_generate

Generalize reserved property names
  packages/tonik_generate/lib/src/naming/property_name_normalizer.dart
  packages/tonik_generate/lib/src/util/response_property_normalizer.dart
  packages/tonik_generate/test/src/naming/property_name_normalizer_test.dart
  packages/tonik_generate/test/src/util/response_property_normalizer_test.dart
Due: tonik_generate

Use resolved response body names
  integration_test/naming/naming_test/test/response_body_collision_test.dart
  packages/tonik_generate/lib/src/naming/property_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/util/response_property_normalizer.dart
  packages/tonik_generate/test/src/naming/property_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/response/response_class_generator_test.dart
  packages/tonik_generate/test/src/response/response_multi_body_generator_test.dart
  packages/tonik_generate/test/src/util/response_property_normalizer_test.dart
Due: tonik_generate

Fix location-suffix parameter name collisions
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
Due: tonik_generate

Import null-only schemas as nullable Never type
  integration_test/composition/composition_test/test/standalone_null_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/typedef_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/flat_value_codec_plan_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_null_only_schema_test.dart
Due: tonik_core, tonik_generate, tonik_parse

Resolve aliases when collecting never response headers
  integration_test/composition/composition_test/test/standalone_null_operation_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

Fix non-exploded multipart array fields
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

Expand multipart array serialization coverage
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate
