Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

Add multipart request generation
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_wire_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

feat: add multipart request generation
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_wire_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

feat: support runtime selection between JSON and multipart bodies
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

Support runtime selection between JSON and multipart bodies
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

Implement HTTP response normalization
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http_response_normalization_test.dart
Due: tonik_generate

feat: implement HTTP response normalization
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http_response_normalization_test.dart
Due: tonik_generate

Remove obsolete HTTP response normalization tests
  packages/tonik_generate/test/src/transport/http_response_normalization_test.dart
Due: none

test: remove obsolete HTTP response normalization coverage
  packages/tonik_generate/test/src/transport/http_response_normalization_test.dart
Due: none

fix: generate request options declarations correctly
  packages/tonik_generate/lib/src/operation/operation_generator.dart
Due: tonik_generate

Fix request options declaration generation
  packages/tonik_generate/lib/src/operation/operation_generator.dart
Due: tonik_generate

chore: enforce conventional commit subjects
  .githooks/commit-msg
  CONTRIBUTING.md
  pubspec.yaml
  scripts/install_git_hooks.sh
  test/commit_msg_hook_test.dart
Due: none

fix: preserve HTTP backend test semantics
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/petstore_config/petstore_test/test/deprecation_test.dart
  integration_test/test_helpers/lib/src/backend_test_support_http.dart
  integration_test/test_helpers/test/backend_test_support_test.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_support_generator.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_support_generator_test.dart
Due: tonik_generate

revert: keep HTTP-12 scoped to integration tests
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_headers_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_support_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/transport/dio/dio_multipart_wire_test.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_headers_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_support_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
Due: tonik_generate

test: remove helper package tests
  integration_test/test_helpers/test/backend_test_support_test.dart
  scripts/run_integration_tests.sh
Due: none

test: simplify integration matrix runner
  pubspec.yaml
  scripts/run_all_integration_tests.sh
  scripts/run_integration_tests.sh
Due: none

test: preserve deprecation annotation checks
  integration_test/ref_siblings/ref_siblings_test/test/annotation_siblings_api_test.dart
Due: none

test: restore duplicate header wire coverage
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_duplicate_field_lines_test.dart
Due: none

ci: run dual-backend integration tests
  .github/workflows/integration_tests.yml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/transport/dio_backend_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_headers_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/lib/src/transport/transport_backend_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_headers_generator_test.dart
  pubspec.yaml
  scripts/analyze_integration_packages.sh
  scripts/archive_generated_integration_packages.sh
  scripts/check_integration_dependencies.sh
  scripts/integration_package_utils.sh
  scripts/setup_integration_tests.sh
  scripts/test_current_integration.sh
  scripts/test_integration_packages.sh
Due: tonik_generate

ci: run checks when pull requests are ready
  .github/workflows/integration_tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

revert: remove unnecessary PR trigger changes
  .github/workflows/integration_tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: replace inline Python dependency parser
  scripts/check_integration_dependencies.sh
Due: none

fix(tonik_generate): correct HTTP multipart encoding
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/http_backend_generator.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_generator_test.dart
  packages/tonik_generate/test/src/transport/http_backend_generator_test.dart
  packages/tonik_util/lib/src/multipart/tonik_multipart_body.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/multipart/tonik_multipart_body_test.dart
Due: tonik_generate, tonik_util

ci: handle cyclic dependency graphs
  scripts/check_integration_dependencies.sh
Due: none

docs: document HTTP backend selection and migration
  docs/authentication.md
  docs/configuration.md
  docs/features.md
  docs/http_backends.md
  docs/roadmap.md
  packages/tonik/README.md
  packages/tonik_generate/README.md
  packages/tonik_util/README.md
  packages/tonik_util/lib/src/server_config.dart
Due: tonik_util

docs(tonik): fix generated response example
  packages/tonik/README.md
Due: none

chore: update roadmap
  docs/roadmap.md
Due: none

fix: preserve URI validation for form list elements
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
Due: tonik_generate

test: format generated code expectations
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/operation/cookie_parameter_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
Due: none

test: remove unused generated code local
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
Due: none

test(tonik_generate): name multipart planner test after component
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
Due: none

refactor: simplify request generation and multipart tests
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/test/model/request_body_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/object_declaration.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/transport/data_method_generator.dart
  packages/tonik_generate/lib/src/transport/dio/dio_data_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_header_plan.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/transport/multipart_test_support.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/multipart_parts_test.dart
  packages/tonik_parse/test/multipart_unsupported_root_test.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_core, tonik_generate, tonik_parse

test: format generator output before comparison
  packages/tonik_generate/test/src/model/all_of_deep_object_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_deep_object_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/class_copy_with_generator_test.dart
  packages/tonik_generate/test/src/model/class_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_deep_object_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/copy_with_method_generator_test.dart
Due: none

perf(tonik_parse): index named models during import
  docs/model-import-lookups.md
  packages/tonik_parse/benchmark/import_benchmark.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_lookup_test.dart
Due: tonik_parse

docs: remove importer optimization report
  docs/model-import-lookups.md
Due: none

test(tonik_parse): rely on existing importer regression coverage
  packages/tonik_parse/test/model/model_lookup_test.dart
Due: none
