Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

fix!: accept whole-number-double JSON in integer enum fromJson
  integration_test/query_parameters/query_parameters_test/test/priority_enum_test.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/util/exception_code_generator.dart
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
Due: tonik_generate

test: pin enum fromJson exception types and dollar-name escaping
  integration_test/query_parameters/query_parameters_test/test/priority_enum_test.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/util/exception_code_generator.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
Due: tonik_generate

test: cover interpolated exception helper escaping directly
  integration_test/query_parameters/query_parameters_test/test/priority_enum_test.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/util/exception_code_generator.dart
  packages/tonik_generate/test/src/util/exception_code_generator_test.dart
Due: tonik_generate

refactor: restore raw-string enum decoding error messages
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/util/exception_code_generator.dart
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_generate/test/src/util/exception_code_generator_test.dart
Due: tonik_generate

fix: throw InvalidFormatException on offset-path parse errors and report original input
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  packages/tonik_util/lib/src/offset_date_time.dart
  packages/tonik_util/test/src/offset_date_time_test.dart
Due: tonik_util

fix!: explode form-urlencoded body array properties by default
  docs/uri_encoding.md
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/form_exploded_values_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

fix: harden form-body array explode against style and merge edge cases
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/form_exploded_values_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

fix: align exploded duplicate-key winner with the property merge
  docs/uri_encoding.md
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/form_exploded_values_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

fix: emit analyzer-clean guards for nested-nullable allOf array members
  docs/uri_encoding.md
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/form_exploded_values_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_generate, tonik_parse, tonik_util

feat: add PropertyValue tagged type and form encoder
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/lib/src/encoding/property_value.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

test: cover object-level allowReserved and clarify fallback
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

test: lock allowReserved precedence and correct type rationale
  packages/tonik_util/lib/src/encoding/property_value.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

test: lock that collapse mode ignores per-property allowReserved
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

feat: add tagged-map simple/label/matrix/deepObject encoders
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_value_encoder.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

refactor: clarify empty-value divergence and drop dead parameter
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

test: cover reserved-key encoding and refine encoder docs
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

docs: scope the style-encoder parity note to the string styles
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
Due: tonik_util

test: lock that deepObject allowReserved never leaks into keys
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: none

docs: trim style-encoder comments to terse WHY
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
Due: tonik_util

refactor: extract shared raw-string expression builder
  packages/tonik_generate/lib/src/util/map_value_to_string_expression_builder.dart
  packages/tonik_generate/lib/src/util/raw_string_expression_generator.dart
  packages/tonik_generate/test/src/util/raw_string_expression_generator_test.dart
Due: tonik_generate

fix: emit valid binary raw-string conversion and strengthen alias test
  packages/tonik_generate/lib/src/util/raw_string_expression_generator.dart
  packages/tonik_generate/test/src/util/raw_string_expression_generator_test.dart
Due: tonik_generate

docs: trim raw string comments
  packages/tonik_generate/lib/src/util/map_value_to_string_expression_builder.dart
  packages/tonik_generate/lib/src/util/raw_string_expression_generator.dart
  packages/tonik_generate/test/src/util/raw_string_expression_generator_test.dart
Due: tonik_generate

test: loosen allOf label formatter expectation
  packages/tonik_generate/test/src/model/all_of_label_generator_test.dart
Due: none

Support wildcard response media types
  integration_test/structured_syntax_suffix/openapi.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/imposter/response.groovy
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/test/structured_syntax_suffix_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_util/lib/src/decoding/media_type.dart
  packages/tonik_util/test/src/decoding/media_type_test.dart
Due: tonik_generate, tonik_util

Document wildcard response media types
  docs/features.md
  packages/tonik/README.md
Due: none

Fix structured syntax suffix fixture response
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/imposter/response.groovy
Due: none

Use non-partial status in wildcard fixture
  integration_test/structured_syntax_suffix/openapi.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/imposter/response.groovy
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/test/structured_syntax_suffix_test.dart
Due: none

docs: scope the raw-list builder comment to scalar content
  packages/tonik_generate/lib/src/util/property_value_expression_generator.dart
Due: tonik_generate

Remove flaky wildcard range fixture
  integration_test/structured_syntax_suffix/openapi.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/imposter/response.groovy
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/test/structured_syntax_suffix_test.dart
Due: none

Trim more obvious comments
  integration_test/binary_models/binary_models_test/test/content_encoded_test.dart
  integration_test/petstore_config/petstore_test/test/deprecation_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nested_oneof_in_allof_test.dart
  packages/tonik_core/test/src/transformer/config_transformer_deprecation_test.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/lib/src/operation_importer.dart
  packages/tonik_parse/lib/src/request_parameter_importer.dart
Due: tonik_generate, tonik_parse

build: require dart_style ^3.1.11 and align formatted test expectations
  packages/tonik/pubspec.yaml
  packages/tonik_generate/pubspec.yaml
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_label_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/model/class_simple_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  pubspec.yaml
Due: none

fix!: explode form-urlencoded body array properties by default
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_generate, tonik_util

test: cover the empty-array drop guard end-to-end and pin descriptor omission
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
Due: tonik_generate

Encode JSON request bodies for scalar models
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
Due: tonik_generate

Handle root JSON string request bodies
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.yaml
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/adversarial_strings/openapi.yaml
Due: none

Use explicit JSON string literals in adversarial string tests
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
Due: none

Add adversarial JSON body coverage for oneOf variants
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.yaml
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/adversarial_strings/openapi.yaml
Due: none

Remove obsolete jsonEncode assertions from operation generator test
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
