Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

docs: document form-body array explode and refresh allowReserved limits
  docs/uri_encoding.md
Due: none

fix!: single-encode composite list elements in object properties
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  packages/tonik_generate/lib/src/util/property_value_expression_generator.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/util/property_value_expression_generator_test.dart
Due: tonik_generate

test: cover composite-list single-encoding through label style
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/label_test.dart
Due: none

feat: add literal destination argument to scalar encoders
  packages/tonik_util/lib/src/date.dart
  packages/tonik_util/lib/src/encoding/simple_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/date_test.dart
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

test: cover non-UTC DateTime offset and Uri fragment literal encoding
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: none

docs: correct literal override doc on numeric scalar encoders
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
Due: tonik_util

feat: extend literal destination argument to collection encoders
  packages/tonik_util/lib/src/encoding/simple_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

refactor: give literal its own branch in the string-list encoder
  packages/tonik_util/lib/src/encoding/simple_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

fix!: stop percent-decoding simple response header values
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/test/src/decoding/simple_decoder_test.dart
Due: tonik_util

feat!: serialize primitive request headers literally
  integration_test/simple_encoding/simple_encoding_test/test/header_literal_primitives_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_lists_test.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

feat!: serialize composite request headers literally
  integration_test/composition/composition_test/test/all_of_test.dart
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/composition_test/test/one_of_test.dart
  integration_test/medama/medama_test/test/event_api_test.dart
  integration_test/query_parameters/query_parameters_test/test/byte_composite_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_aliases_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_complex_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_primitive_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_objects_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_complex_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_primitive_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/simple_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/composite_guard_builders.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/model/class_simple_generator_test.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_generate, tonik_util

test: add independent server-originated composite header decode cases
  integration_test/simple_encoding/openapi.yaml
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_primitive_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_enums_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_primitive_test.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
Due: tonik_generate, tonik_util

test: cover server-originated decode for complex composite headers
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_allof_simple_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_complex_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_dynamic_composite_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_complex_test.dart
Due: none

test: strengthen composite header decode assertions and list coverage
  integration_test/simple_encoding/simple_encoding_test/test/header_literal_primitives_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_dynamic_composite_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_enum_lists_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_simple_lists_test.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
Due: tonik_util

fix!: decode nullable-element string list headers with null empties
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_lists_test.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
Due: tonik_generate

docs: tighten header-literal comments to terse why-not-what
  integration_test/simple_encoding/simple_encoding_test/test/header_literal_primitives_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_aliases_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_allof_simple_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_complex_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_primitive_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_dynamic_composite_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_enum_lists_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_enums_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_lists_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_objects_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_complex_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_primitive_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_simple_lists_test.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
Due: tonik_generate, tonik_util

test: use triple-quoted literal instead of lint ignore
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_allof_simple_test.dart
Due: none

fix: serialize empty-string primitive query params instead of throwing
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  packages/tonik_util/lib/src/encoding/label_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/label_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/matrix_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

fix: expand empty-string matrix params as name without value
  packages/tonik_util/lib/src/encoding/matrix_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/matrix_encoder_extensions_test.dart
Due: tonik_util

test: update simple-encoding header tests for empty-string values
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_aliases_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_primitive_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_primitive_test.dart
Due: none

fix: omit empty array query parameters instead of throwing
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/pipe_delimited_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
  packages/tonik_util/test/form_encoder_decoder_round_trip_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/pipe_delimited_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/space_delimited_encoder_extensions_test.dart
Due: tonik_util

test: cover explode:true and multi-param empty-array omission
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/pipe_delimited_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
Due: tonik_util

fix: omit empty list value for any-typed form query parameters
  integration_test/boolean_schemas/boolean_schemas_test/test/query_parameters_test.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/pipe_delimited_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate, tonik_util

docs: trim encodeAnyToFormEntries comment to accurate rationale
  packages/tonik_util/lib/src/encoding/any_encoding.dart
Due: tonik_util

Preserve nullable object schema responses
  integration_test/type_arrays/openapi.yaml
  integration_test/type_arrays/type_arrays_test/test/nullable_object_response_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_nullable_test.dart
  packages/tonik_parse/test/model/single_schema_import_test.dart
Due: tonik_parse

Test nullable object responses with Imposter
  integration_test/type_arrays/type_arrays_test/imposter/response.groovy
  integration_test/type_arrays/type_arrays_test/test/nullable_object_response_test.dart
  integration_test/type_arrays/type_arrays_test/test/type_arrays_api_test.dart
Due: none

Limit nullable class inference to object schemas
  packages/tonik_parse/lib/src/model_importer.dart
Due: tonik_parse

fix: override path-item parameters with operation-level ones by (name, location)
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/parameter_override_test.dart
  packages/tonik_parse/lib/src/operation_importer.dart
  packages/tonik_parse/test/operation/operation_parameter_override_test.dart
Due: tonik_parse

fix: surface cyclic parameter reference as ArgumentError and cover unresolvable-ref passthrough
  packages/tonik_parse/lib/src/operation_importer.dart
  packages/tonik_parse/test/operation/operation_parameter_override_test.dart
Due: tonik_parse

test: cover shared parameter ref used at both path-item and operation levels
  packages/tonik_parse/test/operation/operation_parameter_override_test.dart
Due: none

fix: decode whole-number JSON double to integer variant in primitive oneOf
  integration_test/composition/composition_test/imposter/imposter-config.json
  integration_test/composition/composition_test/imposter/response.groovy
  integration_test/composition/composition_test/pubspec.lock
  integration_test/composition/composition_test/pubspec.yaml
  integration_test/composition/composition_test/test/one_of_whole_number_double_decode_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
Due: tonik_generate

test: cover fractional-double rejection and numeric ambiguity guard for primitive oneOf
  integration_test/composition/composition_test/test/one_of_whole_number_double_decode_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

test: assert integer+number oneOf routes int and fractional double to their variants
  integration_test/composition/composition_test/test/one_of_whole_number_double_decode_test.dart
Due: none

refactor: drop explanatory comment on primitive oneOf integer guard
  packages/tonik_generate/lib/src/model/one_of_generator.dart
Due: tonik_generate

test: lock int+double+string primitive oneOf keeps int and double arms distinct
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: none

Decode primitive oneOf JSON via ordered try-each
  integration_test/composition/composition_test/test/one_of_scalar_mix_decode_test.dart
  integration_test/composition/composition_test/test/one_of_test.dart
  integration_test/composition/composition_test/test/one_of_whole_number_double_decode_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
Due: tonik_generate

Tighten primitive oneOf decode tests and fold numeric helper
  integration_test/composition/composition_test/test/one_of_scalar_mix_decode_test.dart
  integration_test/composition/composition_test/test/one_of_test.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

Clarify oneOf decode ordering and cover base64 variant
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

Pin boolean oneOf fromJson arm and tighten ordering comment
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

Describe the second oneOf decode loop as the ordered try-each
  packages/tonik_generate/lib/src/model/one_of_generator.dart
Due: tonik_generate

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
