Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

fix: handle byte formatted strings in multipart correclty
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

fix: improved content type checks for mulitpart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

fix: fallback content type for multipart primitves
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: proper encoding for arrays in multipart
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: correclty handle any models in multipart
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_generate, tonik_parse

fix: better base64 data handleing
  .vscode/settings.json
  integration_test/binary_models/binary_models_test/test/base64_test.dart
  integration_test/binary_models/binary_models_test/test/content_encoded_test.dart
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/model/model_binary_test.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_util/lib/src/decoding/form_decoder.dart
  packages/tonik_util/lib/src/decoding/json_decoder.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/lib/src/encoding/binary_extensions.dart
  packages/tonik_util/test/src/decoding/form_decoder_test.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
  packages/tonik_util/test/src/decoding/simple_decoder_test.dart
  packages/tonik_util/test/src/encoding/binary_extensions_test.dart
Due: tonik_core, tonik_generate, tonik_parse, tonik_util

chore: add documentation for multipart
  docs/features.md
  docs/multipart.md
  docs/roadmap.md
Due: none

fix: improved binary and array without items handling
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_parse/lib/src/model_importer.dart
Due: tonik_generate, tonik_parse

fix: use raw strings for SimpleDecodingException
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: tonik_generate

fix: handle binary data in parameters
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: tonik_generate

fix: add missing type annotation for matrix expressions
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
Due: tonik_generate

fix: handle nullable json fields in classes
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
Due: tonik_generate

fix: llOf with nullable component models
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
Due: tonik_generate

chore: addtional multipart and binary integration tests
  integration_test/binary_models/binary_models_test/imposter/response.groovy
  integration_test/binary_models/binary_models_test/test/multi_content_type_test.dart
  integration_test/binary_models/openapi.yaml
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: none

fix: graceful handle complex data in lists for matrix encoding
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
Due: tonik_generate

fix: handle cycles for stable model key generation
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
Due: tonik_core

chore: figma integration tests added
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/figma/figma_test/.gitignore
  integration_test/figma/figma_test/analysis_options.yaml
  integration_test/figma/figma_test/dart_test.yaml
  integration_test/figma/figma_test/imposter/imposter-config.json
  integration_test/figma/figma_test/imposter/response.groovy
  integration_test/figma/figma_test/pubspec.yaml
  integration_test/figma/figma_test/test/figma_test.dart
  integration_test/figma/openapi.yaml
  integration_test/figma/tonik.yaml
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: none

fix: allow versions in enum values
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
Due: tonik_generate

fix: improved stablesort for deeply nested models
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
Due: tonik_core

fix: validate version and use fallback
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/test/src/pubspec_generator_test.dart
Due: tonik_generate

chore: format code
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/model/class_equals_generator_test.dart
Due: tonik_core, tonik_generate

fix: handle property names starting with plus (+) or minus (-)
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
  packages/tonik_generate/test/src/naming/property_name_normalizer_test.dart
Due: tonik_generate

fix: allow single ‘ and “ in properties and enum variables
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/util/exception_code_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/lib/src/util/to_deep_object_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
Due: tonik_generate

fix: improve doc formatting with multilines
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/doc_comment_formatter.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/util/doc_comment_formatter_test.dart
Due: tonik_generate

fix: better nullable model handling
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
Due: tonik_generate

fix: proper nested nullable handling for models
  .vscode/settings.json
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/util/doc_comment_formatter_test.dart
Due: tonik_core, tonik_generate

fix: shadowing of variables prevent proper names
  packages/tonik_core/lib/src/transformer/content_type_normalizer.dart
  packages/tonik_core/test/src/transformer/content_type_normalizer_test.dart
Due: tonik_core

fix: proper scope dict definition
  packages/tonik_generate/lib/src/analysis_options_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
Due: tonik_generate

fix: impoved nullable checks in from json code generation
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
Due: tonik_generate

fix: complex list handling in form and simple encoding
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

chore: add openai integration tests
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/openai/openai_test/.gitignore
  integration_test/openai/openai_test/analysis_options.yaml
  integration_test/openai/openai_test/dart_test.yaml
  integration_test/openai/openai_test/imposter/imposter-config.json
  integration_test/openai/openai_test/imposter/response.groovy
  integration_test/openai/openai_test/pubspec.yaml
  integration_test/openai/openai_test/test/openai_test.dart
  integration_test/openai/openapi.yaml
  integration_test/openai/tonik_full.yaml
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: none

fix: prefix types with $ if they start with a number
  .vscode/settings.json
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
Due: tonik_generate

fix: proper handle required in multipart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
Due: tonik_generate

fix: deduplicate AliasModel instances for bare $ref aliases in allOf
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_allof_test.dart
Due: tonik_parse

chore: add more integration tests
  integration_test/asana/asana_test/.gitignore
  integration_test/asana/asana_test/analysis_options.yaml
  integration_test/asana/asana_test/dart_test.yaml
  integration_test/asana/asana_test/imposter/imposter-config.json
  integration_test/asana/asana_test/imposter/response.groovy
  integration_test/asana/asana_test/pubspec.yaml
  integration_test/asana/asana_test/test/asana_test.dart
  integration_test/asana/openapi.yaml
  integration_test/asana/tonik.yaml
  integration_test/twilio/openapi.json
  integration_test/twilio/tonik.yaml
Due: none

chore: update integration test setup and testing
  .github/workflows/integration_tests.yml
  pubspec.yaml
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
