Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

review: compress comments and broaden degenerate-case test coverage
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
Due: tonik_generate

review: tighten AnyOfGenerator comments for clarity
  packages/tonik_generate/lib/src/model/any_of_generator.dart
Due: tonik_generate

review: drop duplicate NeverModel comment and reposition catch-all note
  packages/tonik_generate/lib/src/model/any_of_generator.dart
Due: tonik_generate

review: drop redundant test comments in AnyOfBooleanSchema fromJson group
  integration_test/composition/composition_test/test/any_of_test.dart
Due: none

refactor: centralize AnyModel encoding policy and fix runtime gaps
  packages/tonik_generate/lib/src/util/encoding_policy.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/encoding_policy_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate, tonik_util

review: drop unused neverThrow field, suppress dead wrap, expand tests
  packages/tonik_generate/lib/src/util/encoding_policy.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/util/encoding_policy_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate, tonik_util

review: replace EncodingPolicy class with top-level functions
  packages/tonik_generate/lib/src/util/encoding_policy.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/encoding_policy_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
Due: tonik_generate

review: complete AnyModel centralization, fix silent fallback and doc errors
  packages/tonik_generate/lib/src/util/encoding_policy.dart
  packages/tonik_generate/lib/src/util/to_deep_object_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate, tonik_util

review: add AnyModel coverage tests for migrated callsites
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
Due: none

fix: AnyModel encoding in tonik_util runtime and three generator callsites
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate, tonik_util

fix: hoist throw expressions for unsupported simple/matrix path params
  .claude/agents/tonik-generator.md
  integration_test/path_encoding/openapi.yaml
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/util/map_value_to_string_expression_builder.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/map_value_to_string_expression_builder_test.dart
Due: tonik_generate

fix: close throw-class for all simple-encoded path parameter shapes
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/throw_suffix_test.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/util/map_value_to_string_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/map_value_to_string_expression_builder_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

refactor: replace labelled break with extracted _processSegment method
  packages/tonik_generate/lib/src/operation/path_generator.dart
Due: tonik_generate

fix: use loop in _ensureUniquenessInGroup to avoid counter collision
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
Due: tonik_generate

test: strengthen coverage for _ensureUniquenessInGroup fix
  integration_test/naming/naming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
Due: tonik_generate

fix: replace assert with throw StateError and hoist putIfAbsent in loop
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
Due: tonik_generate

test: add integration tests for Map<String,String> path param with literal suffix
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/simple_test.dart
Due: none

fix: reserve cancelToken in parameter name normalizer to prevent collision with built-in Dio parameter
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
Due: tonik_generate

test: add cancelToken collision test with request body present
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
Due: none

test: add generateParameters-level cancelToken collision tests
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: none

test: add integration test for cancelToken collision with request body
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
Due: none

chore: update harness
  .claude/agents/tonik-generator.md
Due: none

test: use typed local functions for cancelToken integration tests
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
Due: none

test: set up Imposter for naming tests and rewrite cancelToken collision tests
  integration_test/naming/naming_test/dart_test.yaml
  integration_test/naming/naming_test/imposter/imposter-config.json
  integration_test/naming/naming_test/imposter/response.groovy
  integration_test/naming/naming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
Due: none

fix: reserve cancelToken in parameter name normalizer to prevent collision with built-in Dio parameter
  integration_test/naming/naming_test/dart_test.yaml
  integration_test/naming/naming_test/imposter/imposter-config.json
  integration_test/naming/naming_test/imposter/response.groovy
  integration_test/naming/naming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: tonik_generate

fix: restore param-counter-collision endpoint and loop-based uniqueness fix
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
Due: tonik_generate

fix: add missing doc string for cookie parameters
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
Due: tonik_generate

fix: harden BuiltStatements safety pattern and recursion test coverage
  integration_test/recursive_map/openapi.yaml
  integration_test/recursive_map/recursive_map_test/imposter/response.groovy
  integration_test/recursive_map/recursive_map_test/test/recursive_map_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/built_expression.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/inline_helper_context.dart
  packages/tonik_generate/lib/src/util/recursion_detector.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/built_expression_test.dart
  packages/tonik_generate/test/src/util/recursion_detector_test.dart
  packages/tonik_generate/test/src/util/to_json_recursion_test.dart
Due: tonik_generate

fix: tighten dedup tests, doc accuracy, and decode helper context
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/built_expression.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/inline_helper_context.dart
  packages/tonik_generate/lib/src/util/recursion_detector.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/built_expression_test.dart
  packages/tonik_generate/test/src/util/from_json_recursion_test.dart
  packages/tonik_generate/test/src/util/inline_helper_context_test.dart
  packages/tonik_generate/test/src/util/to_json_recursion_test.dart
Due: tonik_generate

refactor: simplify inline helper context, use _$ sigil for helper names
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/built_expression.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/inline_helper_context.dart
  packages/tonik_generate/lib/src/util/recursion_detector.dart
  packages/tonik_generate/lib/src/util/to_deep_object_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_recursion_test.dart
  packages/tonik_generate/test/src/util/inline_helper_context_test.dart
  packages/tonik_generate/test/src/util/to_json_recursion_test.dart
Due: tonik_generate

refactor: inline NameManager construction in test, drop test helper
  packages/tonik_generate/test/src/util/name_manager_test_helper.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
Due: none

test: drop local _isDeepEqual, rely on equals matcher
  integration_test/recursive_map/recursive_map_test/test/recursive_map_test.dart
Due: none

fix: skip unused decode locals when response body decodes to a pure throw
  integration_test/boolean_schemas/openapi.yaml
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
Due: tonik_generate

fix: extend pure-throw handling to nullable List<Never> form bodies
  integration_test/boolean_schemas/openapi.yaml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
Due: tonik_generate

fix: drop dead _isFormBodyPureThrow parameter and tighten WHY comments
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
Due: tonik_generate

docs: clarify nullability invariants in pure-throw helper comments
  packages/tonik_generate/lib/src/operation/parse_generator.dart
Due: tonik_generate

fix: handle empty oneOf without producing invalid Dart
  integration_test/composition/composition_test/test/one_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_oneof_test.dart
Due: tonik_generate, tonik_parse

test: per-method body assertions + empty+writeOnly + toDeepObject throw
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
Due: tonik_generate

fix: handle byte/binary cookie params instead of emitting toForm on TonikFile
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: tonik_generate

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
