Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

feat: support read and write only properties
  .github/workflows/integration_tests.yml
  .gitignore
  .vscode/settings.json
  docs/roadmap.md
  integration_test/read_write_only/openapi.yaml
  integration_test/read_write_only/read_write_only_test/analysis_options.yaml
  integration_test/read_write_only/read_write_only_test/dart_test.yaml
  integration_test/read_write_only/read_write_only_test/imposter/imposter-config.json
  integration_test/read_write_only/read_write_only_test/imposter/response.groovy
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.yaml
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik/bin/tonik.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/transformer/read_write_only_normalizer.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/src/transformer/read_write_only_normalizer_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_parse/lib/src/model/schema.dart
  packages/tonik_parse/lib/src/model/schema.g.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/read_only_write_only_test.dart
  packages/tonik_parse/test/model/schema_parsing_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_core, tonik_generate, tonik_parse

chore: update documenation
  docs/data_types.md
  docs/features.md
Due: none

Update packages/tonik_parse/lib/src/model/schema.dart
  packages/tonik_parse/lib/src/model/schema.dart
Due: tonik_parse

Update packages/tonik_core/lib/src/transformer/read_write_only_normalizer.dart
  packages/tonik_core/lib/src/transformer/read_write_only_normalizer.dart
Due: tonik_core

feat: improve read/write only handling
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik/README.md
  packages/tonik/bin/tonik.dart
  packages/tonik_core/lib/src/transformer/read_write_only_normalizer.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/src/transformer/read_write_only_normalizer_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
Due: tonik_core, tonik_generate

feat: further read/write only improvements
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
Due: tonik_generate

chore: better documenation
  docs/data_types.md
Due: none

feat: handle schema level read and write only
  integration_test/read_write_only/openapi.yaml
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_schema_level_read_write_only_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/schema_level_read_write_only_test.dart
Due: tonik_core, tonik_generate, tonik_parse

feat: read and write only for oneOf
  integration_test/read_write_only/openapi.yaml
  integration_test/read_write_only/read_write_only_test/imposter/response.groovy
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/exception_code_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/model/one_of_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_util/lib/src/decoding/decoding_exception.dart
Due: tonik_generate, tonik_util

feat: read and writ only for all of generator
  integration_test/read_write_only/openapi.yaml
  integration_test/read_write_only/read_write_only_test/imposter/response.groovy
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_schema_level_read_write_only_test.dart
Due: tonik_generate

feat: read and write only for any of
  integration_test/read_write_only/openapi.yaml
  integration_test/read_write_only/read_write_only_test/imposter/response.groovy
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_schema_level_read_write_only_test.dart
Due: tonik_generate

chore: cleanup duplicate code
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/composite_guard_builders.dart
  packages/tonik_generate/lib/src/util/composite_library_builder.dart
Due: tonik_generate

chore: update big_decimal
  integration_test/cookies/cookies_test/pubspec.yaml
  integration_test/query_parameters/query_parameters_test/pubspec.yaml
  integration_test/simple_encoding/simple_encoding_test/pubspec.yaml
  packages/tonik_generate/lib/src/pubspec_generator.dart
Due: tonik_generate

chore: update deps
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
Due: none

chore: bring back melos test script
  pubspec.yaml
Due: none

chore(release): publish packages
  CHANGELOG.md
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

chore: fix typo
  .idea/runConfigurations/melos_run_coverage.xml
  .idea/runConfigurations/melos_run_test_integration_boolean_schemas.xml
  .idea/runConfigurations/melos_run_test_integration_cookies.xml
  .idea/runConfigurations/melos_run_test_integration_defs.xml
  .idea/runConfigurations/melos_run_test_integration_inference.xml
  .idea/runConfigurations/melos_run_test_integration_medama.xml
  .idea/runConfigurations/melos_run_test_integration_read_write_only.xml
  .idea/runConfigurations/melos_run_test_integration_ref_siblings.xml
  .idea/runConfigurations/melos_run_test_integration_server_variables.xml
  .idea/runConfigurations/melos_run_test_integration_type_arrays.xml
  CHANGELOG.md
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
Due: none

chore: split agents.md, introduce skills
  .claude/skills/code-builder/SKILL.md
  .claude/skills/integration-tests/SKILL.md
  .claude/skills/openapi-spec/SKILL.md
  .claude/skills/testing/SKILL.md
  AGENTS.md
Due: none

feast: parse support for multipart
  packages/tonik_core/lib/src/model/content_type.dart
  packages/tonik_core/lib/src/model/multipart_property_encoding.dart
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_core/lib/src/transformer/content_type_normalizer.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/src/transformer/content_type_normalizer_test.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_parse/lib/src/content_type_resolver.dart
  packages/tonik_parse/lib/src/importer.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/lib/src/response_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_core, tonik_generate, tonik_parse

feat: allow custom multipart configuration
  docs/configuration.md
  packages/tonik/lib/src/config/config_loader.dart
Due: tonik

chore: plan for multipart added
  plans/multipart/00-master-plan.md
  plans/multipart/01-sub-plan-0-parse-default-encoding.md
  plans/multipart/02-sub-plan-1-generate-scaffold-string-fields.md
  plans/multipart/03-sub-plan-2-generate-all-primitives.md
  plans/multipart/04-sub-plan-3-generate-enum-properties.md
  plans/multipart/05-sub-plan-4-generate-binary-uploads.md
  plans/multipart/06-sub-plan-5-generate-complex-objects.md
  plans/multipart/07-sub-plan-6-generate-array-properties.md
  plans/multipart/08-sub-plan-7-generate-per-part-headers.md
  plans/multipart/09-sub-plan-8-generate-multipart-response-error.md
  plans/multipart/10-sub-plan-9-integration-test.md
  plans/multipart/11-sub-plan-10-documentation.md
Due: none

feat: improved encoding parsing for mutlipart
  CLAUDE.md
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

feat: basic form data handling
  .claude/skills/testing/SKILL.md
  packages/tonik_core/lib/src/model/multipart_property_encoding.dart
  packages/tonik_core/test/src/transformer/content_type_normalizer_test.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/space_delimited_encoder_extensions_test.dart
  plans/multipart/11-sub-plan-10-documentation.md
Due: tonik_core, tonik_generate, tonik_parse, tonik_util

feat: multipart header support
  .vscode/settings.json
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

feat: gracefully fail on mulitpart responses
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

chore: multipart integration tests
  .gitignore
  integration_test/multipart/multipart_test/analysis_options.yaml
  integration_test/multipart/multipart_test/dart_test.yaml
  integration_test/multipart/multipart_test/imposter/imposter-config.json
  integration_test/multipart/multipart_test/imposter/multipart-3-1-config.json
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.yaml
  integration_test/multipart/multipart_test/test/custom_content_type_test.dart
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  integration_test/multipart/openapi_3_1.yaml
  integration_test/multipart/tonik.yaml
  integration_test/multipart/tonik_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

feat: introduce TonikFile
  integration_test/binary_models/binary_models_test/test/content_media_type_test.dart
  integration_test/binary_models/binary_models_test/test/files_test.dart
  integration_test/binary_models/binary_models_test/test/images_test.dart
  integration_test/binary_models/binary_models_test/test/mixed_test.dart
  integration_test/binary_models/binary_models_test/test/oas31_empty_schema_test.dart
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/class_simple_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_util/lib/src/tonik_file/file_reader_io.dart
  packages/tonik_util/lib/src/tonik_file/file_reader_stub.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/tonik_file/tonik_file_test.dart
Due: tonik_generate, tonik_util

chore: small improvements
  integration_test/multipart/multipart_test/test/multipart_test.dart
  packages/tonik_core/lib/src/model/multipart_property_encoding.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
  packages/tonik_util/lib/src/tonik_file/file_reader_stub.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
Due: tonik_core, tonik_generate, tonik_parse, tonik_util

feat: use async file loading in multipart requests
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
Due: tonik_generate, tonik_util

feat: improve content type for mutlipart data with scalar types
  integration_test/multipart/multipart_test/test/custom_content_type_test.dart
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

feat: better style handling for mutlipart
  packages/tonik_core/lib/src/model/multipart_property_encoding.dart
  packages/tonik_core/test/model/multipart_property_encoding_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_core, tonik_parse

chore: add dart mcp server to project
  .mcp.json
  CLAUDE.md
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: none

feat: improved array support in multipart
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_core/test/model/multipart_property_encoding_test.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_generate, tonik_parse

feat: better url encoding support mulitpart
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

chore: remove plans
  plans/multipart/00-master-plan.md
  plans/multipart/01-sub-plan-0-parse-default-encoding.md
  plans/multipart/02-sub-plan-1-generate-scaffold-string-fields.md
  plans/multipart/03-sub-plan-2-generate-all-primitives.md
  plans/multipart/04-sub-plan-3-generate-enum-properties.md
  plans/multipart/05-sub-plan-4-generate-binary-uploads.md
  plans/multipart/06-sub-plan-5-generate-complex-objects.md
  plans/multipart/07-sub-plan-6-generate-array-properties.md
  plans/multipart/08-sub-plan-7-generate-per-part-headers.md
  plans/multipart/09-sub-plan-8-generate-multipart-response-error.md
  plans/multipart/10-sub-plan-9-integration-test.md
  plans/multipart/11-sub-plan-10-documentation.md
Due: none

feat: deep object support for multipart
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: warn for invalid types in multipart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

chore: more unit tests
  packages/tonik_core/test/model/multipart_property_encoding_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_util/test/src/tonik_file/tonik_file_test.dart
Due: none

chore: run multipart integration tests on CI
  .github/workflows/integration_tests.yml
Due: none
