Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

Honor allowReserved for form map keys
  integration_test/additional_properties/additional_properties_test/test/additional_properties_contract_test.dart
  integration_test/additional_properties/openapi.yaml
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

Expand reserved map key coverage
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

Fix RFC 3339 offset decoding across DST boundaries
  .github/workflows/test.yml
  packages/tonik_util/lib/src/offset_date_time.dart
  packages/tonik_util/test/src/offset_date_time_test.dart
Due: tonik_util

Handle nullable Base64 list elements in generated encoders
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

Avoid model file name collisions in generated output
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/util/composite_library_builder.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/source_file_url.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/generator/generator_models_test.dart
Due: tonik_generate

Null-guard nullable byte array elements in path parameter encoding
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/label_test.dart
  integration_test/path_encoding/path_encoding_test/test/matrix_test.dart
  integration_test/path_encoding/path_encoding_test/test/simple_test.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

Derive unique generated file names for dollar-differing class names
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/naming/file_name.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/request/request_body_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/composite_library_builder.dart
  packages/tonik_generate/lib/src/util/source_file_url.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/naming/file_name_test.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
Due: tonik_generate

Move file-name derivation into NameGenerator
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/naming/file_name.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/request/request_body_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/composite_library_builder.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/response_type_generator.dart
  packages/tonik_generate/lib/src/util/source_file_url.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/naming/file_name_test.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
Due: tonik_generate

Keep naming state in NameManager, make NameGenerator stateless
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/request/request_body_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_generator.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/response_type_generator.dart
  packages/tonik_generate/lib/src/util/source_file_url.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
Due: tonik_generate

Emit bare throw for form response bodies that cannot be form-decoded
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
Due: tonik_generate

Support unquoted null in OpenAPI 3.1 type arrays
  integration_test/type_arrays/openapi.yaml
  integration_test/type_arrays/type_arrays_test/test/type_arrays_api_test.dart
  packages/tonik_parse/lib/src/model/schema.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_multiple_types_test.dart
Due: tonik_parse

Drop doc comments from Schema type getters
  packages/tonik_parse/lib/src/model/schema.dart
Due: tonik_parse

Strip carriage returns from generated doc comments
  integration_test/adversarial_strings/openapi.yaml
  packages/tonik_generate/lib/src/util/doc_comment_formatter.dart
  packages/tonik_generate/lib/src/util/example_doc_formatter.dart
  packages/tonik_generate/test/src/util/doc_comment_formatter_test.dart
  packages/tonik_generate/test/src/util/example_doc_formatter_test.dart
Due: tonik_generate

Guard multipart default content-type resolution against recursive schemas
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

Warn when a recursive multipart schema falls back to the JSON part default
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

Reject JSON integers beyond the representable int range
  packages/tonik_util/lib/src/decoding/json_decoder.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: tonik_util

Serialize empty object property values in styled parameters per RFC 6570
  integration_test/path_encoding/path_encoding_test/test/label_test.dart
  integration_test/path_encoding/path_encoding_test/test/matrix_test.dart
  integration_test/path_encoding/path_encoding_test/test/simple_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_anyof_complex_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_oneof_complex_test.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

Combine repeated response header field lines per RFC 9110
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_duplicate_field_lines_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

Emit the first matching variant when re-encoding anyOf
  integration_test/composition/composition_test/test/any_of_scalar_reencode_test.dart
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
Due: tonik_generate

Omit Content-Type for omitted optional request bodies
  integration_test/composition/composition_test/test/optional_body_content_type_test.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: tonik_generate

Lock call() coordination for optional multipart body
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
Due: none

chore: document . and .. handling in uri
  docs/roadmap.md
  docs/uri_encoding.md
Due: none

Percent-encode form parameter names
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/special_names_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_util

Omit unset optional object members from parameter encoding
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/form_partial_object_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
Due: tonik_generate

Percent-decode untyped additional properties from form bodies
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
Due: tonik_generate

Assert space round-trip for untyped additional property re-encoding
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
Due: none

Give untyped form values their own decode case with rationale
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
Due: tonik_generate

Update form-urlencoded body tests for omitted unset members
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
Due: none

Type empty toJson map literal so allOf branches encode
  integration_test/read_write_only/openapi.yaml
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
Due: tonik_generate

Scope typed empty-map literal to the only reachable path
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

Cover typed empty-map toJson for a property-less class
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
Due: none

Shorten empty-map typing comment
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

Use buildEmptyMapStringObject for the empty toJson literal
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

Decode required any form properties as nullable
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_form_generator_test.dart
Due: tonik_generate

Drop explanatory comment on any form nullability
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

Carry nullability on inline primitive schemas
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/nullable_bodies/nullable_bodies_test/analysis_options.yaml
  integration_test/nullable_bodies/nullable_bodies_test/dart_test.yaml
  integration_test/nullable_bodies/nullable_bodies_test/imposter/imposter-config.json
  integration_test/nullable_bodies/nullable_bodies_test/imposter/response.groovy
  integration_test/nullable_bodies/nullable_bodies_test/pubspec.lock
  integration_test/nullable_bodies/nullable_bodies_test/pubspec.yaml
  integration_test/nullable_bodies/nullable_bodies_test/test/nullable_body_test.dart
  integration_test/nullable_bodies/openapi.yaml
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/query_parameter_test.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_parse/test/response_importer_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_parse

Speed up integration test setup and JVM boot
  integration_test/test_helpers/lib/src/imposter_server.dart
  scripts/setup_integration_tests.sh
Due: none

Serialize pipeDelimited/spaceDelimited object query parameters
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_generate, tonik_util

Lock allowReserved and delimiter-collision behavior for delimited objects
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_generate, tonik_util

Document delimiter ambiguity and cover array-property edge cases
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
