Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

fix: omit absent forbidden query properties
  integration_test/boolean_schemas/boolean_schemas_test/test/absent_forbidden_query_test.dart
  integration_test/boolean_schemas/openapi.yaml
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
Due: tonik_generate

fix: preserve Unicode multipart filenames
  integration_test/multipart/multipart_test/test/base64_parts_test.dart
  packages/tonik_util/lib/src/multipart/tonik_multipart_body.dart
  packages/tonik_util/test/src/multipart/tonik_multipart_body_test.dart
Due: tonik_util

test: cover multipart content encoding in OAS 3.1
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/content_encoding_base64_test.dart
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/openapi_3_1.yaml
Due: none

test: assert unconstrained schema behavior directly
  integration_test/composition/composition_test/test/unconstrained_all_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/test/src/generator/generator_unconstrained_allof_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
Due: none

fix: support JSON content query parameters
  docs/roadmap.md
  docs/uri_encoding.md
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/json_content_test.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_generate/lib/src/operation/query_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/json_content_query_generator_test.dart
  packages/tonik_parse/lib/src/request_parameter_importer.dart
  packages/tonik_parse/test/json_content_query_parameter_test.dart
Due: tonik_core, tonik_generate, tonik_parse

docs: trim examples README
  examples/README.md
Due: none

docs: expose server examples on pub.dev
  packages/tonik/README.md
  packages/tonik/example/README.md
Due: none

refactor: simplify real-server examples
  examples/README.md
  examples/compose.yaml
  examples/java_spring_boot/README.md
  examples/java_spring_boot/client/pubspec.yaml
  examples/java_spring_boot/server/pom.xml
  examples/java_spring_boot/server/src/main/java/example/Main.java
  examples/javascript_fastify/README.md
  examples/javascript_fastify/client/pubspec.yaml
  examples/javascript_fastify/server/package.json
  examples/javascript_fastify/server/server.js
  examples/python_fastapi/README.md
  examples/python_fastapi/client/pubspec.yaml
  examples/python_fastapi/server/app.py
  examples/ruby_rails/README.md
  examples/ruby_rails/client/pubspec.yaml
  examples/ruby_rails/server/config/application.rb
  examples/ruby_rails/server/spec/requests/catalog_spec.rb
  examples/ruby_rails/server/spec/schemas.rb
  examples/ruby_rails/server/spec/swagger_helper.rb
  examples/run.sh
  examples/scripts/run.py
  examples/scripts/validator/Dockerfile
  examples/scripts/validator/requirements.txt
  examples/scripts/validator/validate.py
  examples/typescript_nestjs/README.md
  examples/typescript_nestjs/client/pubspec.yaml
  examples/typescript_nestjs/server/main.ts
  examples/typescript_nestjs/server/package.json
  examples/typescript_nestjs/server/tsconfig.json
  packages/tonik/example/README.md
Due: none

perf: reduce integration test startup overhead
  .github/workflows/test.yml
  CONTRIBUTING.md
  integration_test/test_helpers/bin/run_integration_tests.dart
  integration_test/test_helpers/lib/src/imposter_server.dart
  integration_test/test_helpers/test/fixtures/failure.dart
  integration_test/test_helpers/test/fixtures/hold.dart
  integration_test/test_helpers/test/fixtures/retry_cancellation.dart
  integration_test/test_helpers/test/fixtures/reuse_first.dart
  integration_test/test_helpers/test/fixtures/reuse_second.dart
  integration_test/test_helpers/test/fixtures/standalone.dart
  integration_test/test_helpers/test/imposter_server_test.dart
  scripts/integration_package_utils.sh
  scripts/integration_setup_utils.sh
  scripts/setup_integration_tests.sh
  scripts/test_current_integration.sh
  scripts/test_integration_packages.sh
  scripts/test_integration_setup.sh
Due: none

ci: add manual real-server example workflow
  .github/workflows/examples.yml
  examples/README.md
  examples/java_spring_boot/client/lib/live.dart
  examples/javascript_fastify/client/lib/live.dart
  examples/python_fastapi/client/lib/live.dart
  examples/ruby_rails/client/lib/live.dart
  examples/run.sh
  examples/typescript_nestjs/client/lib/live.dart
Due: none

fix: prepare shared helpers for published verification
  .github/workflows/test.yml
  scripts/test_verify_published_version.sh
  scripts/verify_published_version.sh
Due: none

fix: remove published verification CI step
  .github/workflows/test.yml
Due: none

fix: remove standalone verification regression script
  scripts/test_verify_published_version.sh
Due: none

chore: update real-server example dependencies
  examples/java_spring_boot/README.md
  examples/java_spring_boot/client/pubspec.lock
  examples/java_spring_boot/server/Dockerfile
  examples/java_spring_boot/server/pom.xml
  examples/java_spring_boot/server/src/main/java/example/Main.java
  examples/java_spring_boot/server/src/main/resources/application.properties
  examples/javascript_fastify/README.md
  examples/javascript_fastify/client/pubspec.lock
  examples/javascript_fastify/openapi.json
  examples/javascript_fastify/server/Dockerfile
  examples/javascript_fastify/server/package-lock.json
  examples/javascript_fastify/server/package.json
  examples/python_fastapi/README.md
  examples/python_fastapi/client/pubspec.lock
  examples/python_fastapi/openapi.json
  examples/python_fastapi/server/Dockerfile
  examples/python_fastapi/server/app.py
  examples/python_fastapi/server/requirements.txt
  examples/ruby_rails/README.md
  examples/ruby_rails/client/pubspec.lock
  examples/ruby_rails/server/Dockerfile
  examples/ruby_rails/server/Gemfile
  examples/ruby_rails/server/Gemfile.lock
  examples/ruby_rails/server/config/application.rb
  examples/typescript_nestjs/README.md
  examples/typescript_nestjs/client/pubspec.lock
  examples/typescript_nestjs/server/Dockerfile
  examples/typescript_nestjs/server/package-lock.json
  examples/typescript_nestjs/server/package.json
  examples/typescript_nestjs/server/tsconfig.json
Due: none

docs: remove dependency compatibility commentary
  examples/ruby_rails/README.md
  examples/ruby_rails/server/Gemfile
Due: none

perf: generate copyWith as typed functions
  integration_test/composition/composition_test/test/copy_with_test.dart
  integration_test/naming/naming_test/test/copy_with_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/util/copy_with_method_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_copy_with_generator_test.dart
  packages/tonik_generate/test/src/response/response_class_generator_test.dart
  packages/tonik_generate/test/src/response/response_multi_body_generator_test.dart
  packages/tonik_generate/test/src/util/copy_with_method_generator_test.dart
Due: tonik_generate

fix: preserve nonnullable fields in copyWith
  integration_test/boolean_schemas/boolean_schemas_test/test/type_verification_test.dart
  integration_test/composition/composition_test/test/copy_with_test.dart
  integration_test/naming/naming_test/test/copy_with_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/util/copy_with_method_generator.dart
  packages/tonik_generate/test/src/model/class_copy_with_generator_test.dart
  packages/tonik_generate/test/src/util/copy_with_method_generator_test.dart
Due: tonik_generate

fix: encode dynamic arrays and immutable JSON bodies
  integration_test/immutable_collections/immutable_collections_test/test/inline_json_test.dart
  integration_test/immutable_collections/openapi.yaml
  integration_test/multipart/multipart_test/test/dynamic_maps_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/lib/src/transport/dio/dio_data_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_body_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/lib/src/transport/multipart_header_plan.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/multipart_dynamic_source_test.dart
Due: tonik_generate

refactor: simplify multipart dynamic validation
  packages/tonik_generate/lib/src/transport/multipart_header_plan.dart
Due: tonik_generate

fix: reuse JSON codecs and preserve explicit null bodies
  integration_test/immutable_collections/immutable_collections_test/test/inline_json_test.dart
  integration_test/immutable_collections/immutable_collections_test/test/multipart_dynamic_test.dart
  integration_test/immutable_collections/openapi.yaml
  integration_test/multipart/multipart_test/test/dynamic_nullable_items_test.dart
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/transport/dio/dio_data_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/transport/multipart_dynamic_source_test.dart
Due: tonik_generate

docs: show how to use dynamic multipart fields
  docs/multipart.md
Due: none

fix: avoid variant name cache hash collisions
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/test/src/naming/name_manager_variant_naming_test.dart
Due: tonik_generate

chore: remove redundant cache comment
  packages/tonik_generate/lib/src/naming/name_manager.dart
Due: tonik_generate

test: use Imposter for native streaming coverage
  CONTRIBUTING.md
  docs/streaming_responses.md
  integration_test/immutable_collections/immutable_collections_test/imposter/response.groovy
  integration_test/immutable_collections/immutable_collections_test/test/streaming_test.dart
  integration_test/streaming_response/streaming_response_test/browser/dio_streaming_test.dart
  integration_test/streaming_response/streaming_response_test/browser/http_streaming_test.dart
  integration_test/streaming_response/streaming_response_test/browser/support.dart
  integration_test/streaming_response/streaming_response_test/imposter/imposter-config.json
  integration_test/streaming_response/streaming_response_test/imposter/response.groovy
  integration_test/streaming_response/streaming_response_test/support/controlled_response.dart
  integration_test/streaming_response/streaming_response_test/test/incremental_delivery_test.dart
  integration_test/streaming_response/streaming_response_test/test/streaming_response_test.dart
  integration_test/streaming_response/streaming_response_test/test/transport_lifecycle_test.dart
  integration_test/streaming_response/streaming_response_test/tool/run_browser_tests.dart
  pubspec.yaml
  scripts/test_streaming_browser.sh
Due: none

docs: clarify sequential media roadmap
  docs/roadmap.md
Due: none

feat: add JSON-seq streaming and recoverable item errors
  CONTRIBUTING.md
  docs/features.md
  docs/http_backends.md
  docs/roadmap.md
  docs/streaming_responses.md
  integration_test/streaming_response/openapi.yaml
  integration_test/streaming_response/streaming_response_test/imposter/imposter-config.json
  integration_test/streaming_response/streaming_response_test/imposter/response.groovy
  integration_test/streaming_response/streaming_response_test/test/incremental_delivery_test.dart
  integration_test/streaming_response/streaming_response_test/test/streaming_response_test.dart
  integration_test/streaming_response/streaming_response_test/test/transport_lifecycle_test.dart
  packages/tonik/README.md
  packages/tonik_core/lib/src/model/response.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/streaming_operation_test.dart
  packages/tonik_parse/lib/src/media_type_resolver.dart
  packages/tonik_parse/lib/src/response_importer.dart
  packages/tonik_parse/test/media_type_reference_test.dart
  packages/tonik_parse/test/media_type_uri_reference_test.dart
  packages/tonik_parse/test/streaming_response_importer_test.dart
  packages/tonik_util/lib/src/decoding/decode_response_stream.dart
  packages/tonik_util/lib/src/decoding/json_lines_decoder.dart
  packages/tonik_util/lib/src/decoding/json_sequence_decoder.dart
  packages/tonik_util/lib/src/decoding/sse_decoder.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/decoding/decode_response_stream_test.dart
  packages/tonik_util/test/src/decoding/json_lines_decoder_test.dart
  packages/tonik_util/test/src/decoding/json_sequence_decoder_test.dart
  packages/tonik_util/test/src/decoding/sse_decoder_test.dart
Due: tonik_core, tonik_generate, tonik_parse, tonik_util
