Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

fix: escape keyword server variable names with $ prefix
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
Due: tonik_generate

test: add oneOf+allOf polymorphism pattern to composition spec
  integration_test/composition/openapi.yaml
Due: none

test: add mutual allOf cycle test and pass-2 coverage tests
  integration_test/composition/openapi.yaml
  packages/tonik_parse/test/model/circular_reference_test.dart
  packages/tonik_parse/test/model/model_importer_pass2_test.dart
Due: none

fix: missing context for whitespace properties
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_importer_pass2_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_parse

fix: coverage reporting to codecov.io
  .github/workflows/test.yml
  pubspec.yaml
  scripts/coverage.sh
Due: none

fix: handle MapModel correctly in multipart encoding
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: restore runtime entry.key context in URL-encoded error messages
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

test: add integration test for multipart Map field (additionalProperties)
  integration_test/multipart/multipart_test/imposter/response.groovy
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
Due: none

fix: handle AnyModel and NeverModel as oneOf variants
  integration_test/composition/composition_test/test/one_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

fix: correct JSON decoding for List<Uri>, List<Map<String, T>>, and multipart enum arrays
  integration_test/additional_properties/additional_properties_test/test/additional_properties_test.dart
  integration_test/additional_properties/openapi.yaml
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: forward useQueryComponent in allOf/anyOf toForm and add UriEncodable to ClassModel
  docs/composite_data_types.md
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
Due: tonik_generate

chore: format code and resolve a warning
  integration_test/multipart/multipart_test/test/multipart_test.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
Due: tonik_generate, tonik_parse

fix: broken unit test
  packages/tonik_generate/test/src/operation/cookie_parameter_generator_test.dart
Due: none

chore: cleanup repo before generating code in set version script
  scripts/set_version.sh
Due: none

chore: revert
  scripts/set_version.sh
Due: none

chore(release): publish packages
  CHANGELOG.md
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

fix: reject complex list element types in label path parameter encoding
  integration_test/path_encoding/openapi.yaml
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
Due: tonik_generate

chore: remove internal references from spec summaries
  integration_test/path_encoding/openapi.yaml
Due: none

fix: use IList/IMap return types for direct collection response bodies with immutable collections
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/response_type_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

chore: cleanup
  integration_test/additional_properties/additional_properties_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

fix: use IList/IMap constructors via refer() instead of .lock extension for immutable collections
  integration_test/immutable_collections/immutable_collections_test/test/model_test.dart
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
Due: tonik_generate

fix: pass useImmutableCollections to additionalPropertiesType in fromJson/fromSimple/fromForm
  integration_test/immutable_collections/immutable_collections_test/test/model_test.dart
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
Due: tonik_generate

fix: pass useImmutableCollections to additionalPropertiesType in allOf fromJson
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
Due: tonik_generate

fix: update stale comments referencing .lock to IList/IMap constructors
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
Due: tonik_generate

feat: add proper parameter encoding for MapModel and Base64Model
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/util/to_form_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/map_encoder.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/map_encoder_test.dart
  packages/tonik_util/test/src/tonik_file/tonik_file_test.dart
Due: tonik_generate, tonik_util

fix: add nullable tests, explode=true tests, and combine identical switch arms
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_form_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
Due: tonik_generate

feat: add MapModel and Base64Model parameter encoding support
  packages/tonik_generate/lib/src/util/map_value_to_string_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/map_value_to_string_expression_builder_test.dart
  packages/tonik_generate/test/src/util/to_form_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/tonik_file/tonik_file_test.dart
Due: tonik_generate, tonik_util

feat: add integration tests and fix simple-style map/base64 encoding
  integration_test/path_encoding/openapi.yaml
  integration_test/query_parameters/openapi.yaml
  integration_test/simple_encoding/openapi.yaml
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

fix: handle MapModel in cookie parameter encoding
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: tonik_generate

test: add map cookie integration tests and improve error message
  integration_test/cookies/cookies_test/test/cookies_test.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: tonik_generate

fix: handle AnyModel in cookie parameter encoding
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
Due: tonik_generate

fix: handle AliasModel in cookie parameter encoding
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: tonik_generate

test: cover explode true, unsupported map, and optional alias paths
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: none

chore: remove PR-scoped comments from cookie alias tests
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: none

test: add oneOf and anyOf with format: byte variant to composition spec
  integration_test/composition/openapi.yaml
Due: none

fix: handle Base64Model variant in oneOf and anyOf encoding
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: tonik_generate

chore: remove duplicated WHAT-comments in Base64Model branches
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
Due: tonik_generate

harness: fan out gen-eval reviewers in parallel
  .claude/agents/tonik-code-reviewer.md
  .claude/agents/tonik-contract-verifier.md
  .claude/agents/tonik-error-reviewer.md
  .claude/agents/tonik-generator.md
  .claude/agents/tonik-scope-reviewer.md
  .claude/agents/tonik-test-runner.md
  .claude/harness/evaluator.md
  .claude/harness/generator.md
  .claude/harness/review-code.md
  .claude/harness/review-errors.md
  .claude/skills/gen-eval/SKILL.md
Due: none

fix: handle AnyModel and NeverModel as anyOf variants
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
Due: tonik_generate
