Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

test: optional + alias unit tests, runtime integration tests for byte/binary cookies
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: tonik_generate

test: cover alias-list, optional alias, multi-cookie, list-binary runtime gaps
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/test/src/operation/options_generator_test.dart
Due: none

chore(release): publish packages
  CHANGELOG.md
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

chore: improve set version script
  scripts/set_version.sh
Due: none

fix: require all fields on core Example and detect cyclic example $refs
  packages/tonik_core/lib/src/model/example.dart
  packages/tonik_parse/lib/src/example_importer.dart
  packages/tonik_parse/test/example_importer_test.dart
Due: tonik_core, tonik_parse

fix: log silent example drops
  packages/tonik_parse/lib/src/example_importer.dart
  packages/tonik_parse/lib/src/model/example.dart
  packages/tonik_parse/lib/src/model/example.g.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/example_importer_test.dart
Due: tonik_parse

chore: scope analyze to packages/ and add dart/flutter skills
  .claude/agents/tonik-contract-verifier.md
  .claude/agents/tonik-generator.md
  .claude/agents/tonik-test-runner.md
  .claude/skills/dart-fix-runtime-errors/SKILL.md
  .claude/skills/dart-generate-test-mocks/SKILL.md
  .claude/skills/dart-resolve-package-conflicts/SKILL.md
  .claude/skills/dart-use-pattern-matching/SKILL.md
  .claude/skills/flutter-implement-json-serialization/SKILL.md
  .claude/skills/gen-eval/SKILL.md
Due: none

chore: remove flutter-implement-json-serialization skill
  .claude/skills/flutter-implement-json-serialization/SKILL.md
Due: none

fix(tonik_parse): apply $ref siblings + parse OAS 3.2 dataValue/serializedValue
  packages/tonik_parse/lib/src/example_importer.dart
  packages/tonik_parse/lib/src/model/example.dart
  packages/tonik_parse/test/example_importer_test.dart
Due: tonik_parse

fix(tonik_generate): escape spec-derived names in generated string literals
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/adversarial_strings/openapi.yaml
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix(tonik_generate): escape five sibling multipart error messages
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

test(tonik_generate): rename empty-URL test group for specificity
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
Due: none

feat(tonik_generate): render OpenAPI examples as dartdoc
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/util/example_doc_formatter.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/typedef_generator_test.dart
  packages/tonik_generate/test/src/util/example_doc_formatter_test.dart
Due: tonik_generate

test(tonik_generate): tighten example dartdoc edge cases
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/util/example_doc_formatter.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/util/example_doc_formatter_test.dart
Due: tonik_generate

feat(tonik_generate): render parameter examples in api_client docs
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
Due: tonik_generate

docs(features): document OpenAPI example dartdoc rendering
  docs/features.md
Due: none

fix(tonik_core): resolve alias default lazily through the chain
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_core/test/src/transformer/allof_normalizer_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/lib/src/request_parameter_importer.dart
  packages/tonik_parse/test/model/model_default_value_test.dart
  packages/tonik_parse/test/operation/parameter_default_value_test.dart
Due: tonik_core, tonik_parse

refactor(tonik_core): tighten AliasModel default contract
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/test/src/transformer/allof_normalizer_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_default_value_test.dart
Due: tonik_core, tonik_parse

test(tonik_parse): cover AliasModel.resolved direct-cycle case
  packages/tonik_parse/test/model/model_alias_test.dart
Due: none

docs: trim noise dartdoc from default carriers
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_parse/lib/src/model/schema.dart
Due: tonik_core, tonik_parse

test(tonik_parse): drop trivial default-value tests
  packages/tonik_parse/test/model/schema_parsing_test.dart
  packages/tonik_parse/test/operation/parameter_default_value_test.dart
Due: none

feat(tonik_generate): emit const defaults for primitive class properties (M1)
  .claude/agents/tonik-test-runner.md
  integration_test/defaulted_primitives/defaulted_primitives_api/analysis_options.yaml
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/defaulted_primitives_api.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/api_client/default_api.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/model/defaulted_primitives.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/model/health_get200_body_model.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/operation/health_check.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/server/server.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/pubspec.lock
  integration_test/defaulted_primitives/defaulted_primitives_api/pubspec.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/analysis_options.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/pubspec.lock
  integration_test/defaulted_primitives/defaulted_primitives_test/pubspec.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/test/defaulted_primitives_test.dart
  integration_test/defaulted_primitives/openapi.yaml
  integration_test/inference/inference_test/test/inference_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_member_name.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/default_member_name_test.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

feat(tonik_generate): emit const defaults for primitive class properties
  .claude/agents/tonik-test-runner.md
  integration_test/defaulted_primitives/defaulted_primitives_api/analysis_options.yaml
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/defaulted_primitives_api.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/api_client/default_api.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/model/defaulted_primitives.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/model/health_get200_body_model.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/operation/health_check.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/server/server.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/pubspec.lock
  integration_test/defaulted_primitives/defaulted_primitives_api/pubspec.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/analysis_options.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/pubspec.lock
  integration_test/defaulted_primitives/defaulted_primitives_test/pubspec.yaml
  integration_test/defaulted_primitives/defaulted_primitives_test/test/defaulted_primitives_test.dart
  integration_test/defaulted_primitives/openapi.yaml
  integration_test/inference/inference_test/test/inference_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_member_name.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/default_member_name_test.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

chore: register defaulted_primitives integration suite in CI and gitignore
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/defaulted_primitives/defaulted_primitives_api/analysis_options.yaml
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/defaulted_primitives_api.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/api_client/default_api.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/model/defaulted_primitives.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/model/health_get200_body_model.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/operation/health_check.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/lib/src/server/server.dart
  integration_test/defaulted_primitives/defaulted_primitives_api/pubspec.lock
  integration_test/defaulted_primitives/defaulted_primitives_api/pubspec.yaml
Due: none

refactor(tonik_generate): move class-member naming into NameManager
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/util/additional_properties_helpers.dart
  packages/tonik_generate/lib/src/util/default_member_name.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
  packages/tonik_generate/test/src/util/default_member_name_test.dart
Due: tonik_generate

refactor(tonik_generate): drop unused params from materialiseConstDefault
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/test/src/util/default_value_materialiser_test.dart
Due: tonik_generate

style(tonik_generate): move _DefaultedProperty below the public class
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

style(tonik_generate): drop dartdoc on private methods in class_generator
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

refactor(tonik_generate): slim down dropped-default warning + reuse existing abstractions
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
Due: tonik_generate

refactor: move effective-default resolution onto Property; share decoder-default helper
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/test/src/model/property_effective_default_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_core, tonik_generate

feat: apply primitive defaults to operation parameters
  integration_test/defaulted_primitives/defaulted_primitives_test/test/defaulted_parameters_test.dart
  integration_test/defaulted_primitives/openapi.yaml
  integration_test/medama/medama_test/test/stats_api_test.dart
  integration_test/medama/medama_test/test/website_api_test.dart
  integration_test/openai/openai_test/test/openai_test.dart
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_core/test/src/model/parameter_effective_default_test.dart
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: tonik_core, tonik_generate

refactor: differentiate dropped-default warnings and tighten default carrier
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: tonik_generate

refactor: slim default carrier, surface expected type in warning
  packages/tonik_core/lib/src/model/cookie_parameter.dart
  packages/tonik_core/lib/src/model/path_parameter.dart
  packages/tonik_core/lib/src/model/query_parameter.dart
  packages/tonik_core/lib/src/model/request_header.dart
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
Due: tonik_core, tonik_generate

test: pin full call() body + warning-emission contract for defaults
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate
