Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

test(generate): revamp model_worker_pool_test for KISS
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
Due: none

test(generate): make worker pool failure-path tests cross-platform
  packages/tonik_generate/test/src/util/model_worker_pool_test.dart
Due: none

chore: update readme
  packages/tonik/README.md
Due: none

ci: restrict GITHUB_TOKEN to contents:read in workflows
  .github/workflows/integration_tests.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix(generate): demote runtime-default routing log from warning to fine
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_defaults.dart
  packages/tonik_generate/test/src/model/class_default_value_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_cache_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_defaults_test.dart
Due: tonik_generate

fix(generate): tolerate media-type parameters in response Content-Type matching
  integration_test/petstore/petstore_test/imposter/response.groovy
  integration_test/petstore/petstore_test/test/pet_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_util/lib/src/decoding/media_type.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/decoding/media_type_test.dart
Due: tonik_generate, tonik_util

fix(generate): refine media-type docs, dedupe warning, and tests
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_util/lib/src/decoding/media_type.dart
  packages/tonik_util/test/src/decoding/media_type_test.dart
Due: tonik_generate, tonik_util

fix(generate): surface matched media type in unexpected-content-type error
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

chore: bump imposter startup timeout to 90s
  integration_test/test_helpers/lib/src/imposter_server.dart
Due: none

chore(test): retry imposter startup on hung JVM
  integration_test/test_helpers/lib/src/imposter_server.dart
Due: none

chore(release): publish packages
  CHANGELOG.md
  integration_test/additional_properties/additional_properties_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defaulted/defaulted_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/recursive_map/recursive_map_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

chore: update roadmap
  docs/roadmap.md
Due: none

refactor: harden form ParameterEntry encoding after review
  integration_test/composition/composition_test/test/all_of_test.dart
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/composition_test/test/form_value_helper.dart
  integration_test/composition/composition_test/test/inherited_discriminator_test.dart
  integration_test/composition/composition_test/test/one_of_test.dart
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_util/lib/src/encoding/parameter_entry.dart
Due: tonik_generate, tonik_util

fix: thread useQueryComponent through composite list form arms
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/composition_test/test/form_value_helper.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/parameter_entry.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

refactor: share one form-entry wire joiner across query, cookie, body
  integration_test/composition/composition_test/test/form_value_helper.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/operation/query_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/cookie_parameter_generator_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
Due: tonik_generate

docs: trim verbose comments to non-obvious WHY only
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/composition_test/test/form_value_helper.dart
  integration_test/cookies/cookies_test/test/cookies_test.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_util/lib/src/date.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/parameter_entry.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

test: drop misleading form explode-true list roundtrip assertions
  integration_test/composition/composition_test/test/any_of_test.dart
Due: none

fix: recognize +json structured-syntax-suffix media types as JSON
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/structured_syntax_suffix/openapi.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/.gitignore
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/analysis_options.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/dart_test.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/imposter/imposter-config.json
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/imposter/response.groovy
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/pubspec.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/test/structured_syntax_suffix_test.dart
  packages/tonik_parse/lib/src/content_type_resolver.dart
  packages/tonik_parse/test/content_type_resolver_test.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_parse/test/response_importer_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_parse

test: assert no warning for recognized +json types and tighten comment
  packages/tonik_parse/lib/src/content_type_resolver.dart
  packages/tonik_parse/test/content_type_resolver_test.dart
Due: tonik_parse

fix: order response switch arms by status specificity
  integration_test/immutable_collections/immutable_collections_test/test/explicit_status_precedence_test.dart
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

test: lock down full specificity ordering and same-class stability
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_generate

test: tighten precedence test header to terse WHY
  integration_test/immutable_collections/immutable_collections_test/test/explicit_status_precedence_test.dart
Due: none

refactor: order response statuses via Comparable; drop integration test
  integration_test/immutable_collections/immutable_collections_test/test/explicit_status_precedence_test.dart
  integration_test/immutable_collections/openapi.yaml
  packages/tonik_core/lib/src/model/operation.dart
  packages/tonik_core/test/model/response_status_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
Due: tonik_core, tonik_generate

refactor: make ResponseStatus.compareTo a total order
  packages/tonik_core/lib/src/model/operation.dart
  packages/tonik_core/test/model/response_status_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
Due: tonik_core, tonik_generate

ci: analyze generated code and fix all analyzer warnings
  .github/workflows/lint.yml
  integration_test/composition/composition_test/test/all_of_test.dart
  integration_test/composition/composition_test/test/any_of_test.dart
  integration_test/composition/composition_test/test/inherited_discriminator_test.dart
  integration_test/composition/composition_test/test/one_of_test.dart
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/pubspec.yaml
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
Due: tonik_generate

fix: accept RFC 3339 lowercase 't' date-time separator
  packages/tonik_util/lib/src/offset_date_time.dart
  packages/tonik_util/test/src/offset_date_time_test.dart
Due: tonik_util

test: cover compact and fractional-second lowercase 't' separators
  packages/tonik_util/test/src/offset_date_time_test.dart
Due: none

fix: accept whole-number double JSON values for integer fields
  packages/tonik_util/lib/src/decoding/json_decoder.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: tonik_util

test: assert InvalidTypeException carries the offending value for int decode
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: none

fix: accept integer-valued JSON numbers in double and int lists
  packages/tonik_util/lib/src/decoding/json_decoder.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: tonik_util

test: guard non-finite int-list rejection and offending-element reporting
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: none

fix: preserve nullability of array items so null elements decode
  integration_test/type_arrays/openapi.yaml
  integration_test/type_arrays/type_arrays_test/test/type_arrays_api_test.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_list_test.dart
  packages/tonik_parse/test/model/model_multiple_types_test.dart
  packages/tonik_util/lib/src/decoding/json_decoder.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: tonik_generate, tonik_parse, tonik_util

test: add adversarial nullable-list decoder cases; tidy comment
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
Due: tonik_generate

fix: encode nullable array items in parameter serialization
  docs/uri_encoding_limitations.md
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/label_test.dart
  integration_test/path_encoding/path_encoding_test/test/matrix_test.dart
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  integration_test/simple_encoding/openapi.yaml
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_lists_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/simple_path_nullable_arrays_test.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
Due: tonik_generate

refactor: carry nullable list items / map values as a container flag
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/util/default_value_materialiser.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/map_value_to_string_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_additional_properties_test.dart
  packages/tonik_parse/test/model/model_list_test.dart
  packages/tonik_parse/test/model/model_multiple_types_test.dart
Due: tonik_core, tonik_generate, tonik_parse

test: build nullable list/map fixtures via the content-nullable flag
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
Due: none

fix: emit null-aware decoder for nullable date/decimal/uri array items
  integration_test/type_arrays/openapi.yaml
  integration_test/type_arrays/type_arrays_test/test/type_arrays_api_test.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
Due: tonik_generate

fix: encode delimited query array spaces as %20 for non-string items
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
Due: tonik_generate

test: name delimited query tests by behavior, not bug symptom
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
