Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

chore: cleanup
  .github/workflows/test.yml
  codecov.yml
  pubspec.yaml
Due: none

chore: better align checks
  packages/tonik/README.md
  packages/tonik_core/lib/src/transformer/allof_normalizer.dart
Due: tonik_core

feat: improve documentation
  docs/composite_data_types.md
  docs/data_types.md
  docs/features.md
  packages/tonik/README.md
Due: none

chore: declare platform support in all packages
  .vscode/settings.json
  integration_test/binary_models/binary_models_test/test/content_media_type_test.dart
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/pubspec.yaml
Due: none

chore: run tests on windows and macos as well
  .github/workflows/test.yml
Due: none

fix: improve folder exist tests
  packages/tonik_generate/lib/src/server/server_file_generator.dart
Due: tonik_generate

fix: more folder existing checks
  packages/tonik_generate/lib/src/library_generator.dart
Due: tonik_generate

chore: reduce workload on github actions
  .github/workflows/test.yml
Due: none

fix: more defensive folder checks
  packages/tonik_generate/lib/src/library_generator.dart
Due: tonik_generate

chore: add debug logs
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/test/src/generator/generator_server_and_library_test.dart
Due: tonik_generate

fix: remove escaping in raw string
  packages/tonik_generate/lib/src/library_generator.dart
  packages/tonik_generate/test/src/generator/generator_server_and_library_test.dart
Due: tonik_generate

chore: fail fast in github actions
  .github/workflows/test.yml
Due: none

chore: case-insenstive header checks for integration tests
  integration_test/binary_models/binary_models_test/imposter/response.groovy
  integration_test/boolean_schemas/boolean_schemas_test/imposter/response.groovy
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/imposter/response.groovy
  integration_test/gov/gov_test/imposter/response.groovy
  integration_test/inference/inference_test/imposter/response.groovy
  integration_test/medama/medama_test/imposter/response.groovy
  integration_test/music_streaming/music_streaming_test/imposter/response.groovy
  integration_test/petstore/petstore_test/imposter/response.groovy
  integration_test/petstore_config/petstore_test/imposter/response.groovy
  integration_test/query_parameters/query_parameters_test/imposter/response.groovy
  integration_test/ref_siblings/ref_siblings_test/imposter/response.groovy
  integration_test/simple_encoding/simple_encoding_test/imposter/response.groovy
Due: none

fix: improved path handling for Windows in tests
  integration_test/petstore_config/petstore_test/test/deprecation_test.dart
Due: none

chore: add debug logging
  integration_test/binary_models/binary_models_test/analysis_options.yaml
  integration_test/binary_models/binary_models_test/test/test_helper.dart
Due: none

chore: improve style in readme
  packages/tonik/README.md
Due: none

chore(release): publish packages
  CHANGELOG.md
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

chore: update changelog, fix typos
  CHANGELOG.md
  docs/roadmap.md
Due: none

feat: nested discriminator support (allOf)
  docs/composite_data_types.md
  docs/roadmap.md
  integration_test/composition/composition_test/test/inherited_discriminator_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/inherited_discriminator_test.dart
Due: tonik_core, tonik_generate, tonik_parse

chore: cleanup
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/inherited_discriminator_test.dart
Due: tonik_core, tonik_parse

chore: update roadmap
  docs/roadmap.md
Due: none

chore: format code
  packages/tonik_parse/test/model/inherited_discriminator_test.dart
Due: none

fix: broken def handling for inline schemas
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/inherited_discriminator_test.dart
Due: tonik_parse

chore: migrate to agents.md
  .cursor/rules/ask-and-wait.mdc
  .cursor/rules/code-organization.mdc
  .cursor/rules/fvm-usage.mdc
  .cursor/rules/integration-test-regeneration.mdc
  .cursor/rules/matchers.mdc
  .cursor/rules/test-driven-development.mdc
  .cursor/rules/working-with-code-builder.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

chore: cookie integration tests
  .github/workflows/test.yml
  .gitignore
  integration_test/cookies/cookies_test/.gitignore
  integration_test/cookies/cookies_test/analysis_options.yaml
  integration_test/cookies/cookies_test/dart_test.yaml
  integration_test/cookies/cookies_test/imposter/imposter-config.json
  integration_test/cookies/cookies_test/imposter/response.groovy
  integration_test/cookies/cookies_test/pubspec.yaml
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

feat: allow more complex data in cookies
  docs/cookie-parameter-support-plan.md
  integration_test/cookies/cookies_test/test/cookies_test.dart
  integration_test/cookies/openapi.yaml
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/test/src/operation/cookie_parameter_generator_test.dart
Due: tonik_generate

fix: proper default vlaue for explode in cookies
  integration_test/cookies/cookies_test/test/cookies_test.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_parse/lib/src/request_parameter_importer.dart
  packages/tonik_parse/test/cookie_parameter_test.dart
Due: tonik_parse

chor: speed up ci
  .github/workflows/test.yml
Due: none

chore: run integration tests in parallel
  .github/workflows/test.yml
  integration_test/test_helpers/lib/src/imposter_server.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: none

chore: fix ci build on windows
  .github/workflows/test.yml
Due: none

chore: revert parallel runs
  .github/workflows/test.yml
Due: none

chore: fix hardcoded ports
  .github/workflows/test.yml
  integration_test/inference/inference_test/test/inference_test.dart
  integration_test/medama/medama_test/test/authentication_api_test.dart
  integration_test/medama/medama_test/test/event_api_test.dart
  integration_test/medama/medama_test/test/stats_api_test.dart
  integration_test/medama/medama_test/test/user_api_test.dart
  integration_test/medama/medama_test/test/website_api_test.dart
  pubspec.yaml
Due: none

chore: more parallel testing on CI, less on local
  .github/workflows/test.yml
  integration_test/binary_models/binary_models_test/dart_test.yaml
  integration_test/boolean_schemas/boolean_schemas_test/dart_test.yaml
  integration_test/cookies/cookies_test/dart_test.yaml
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/dart_test.yaml
  integration_test/form_urlencoded/form_urlencoded_test/dart_test.yaml
  integration_test/gov/gov_test/dart_test.yaml
  integration_test/inference/inference_test/dart_test.yaml
  integration_test/medama/medama_test/dart_test.yaml
  integration_test/medama/medama_test/test/stats_api_test.dart
  integration_test/music_streaming/music_streaming_test/dart_test.yaml
  integration_test/path_encoding/path_encoding_test/dart_test.yaml
  integration_test/petstore/petstore_test/dart_test.yaml
  integration_test/petstore_config/petstore_test/dart_test.yaml
  integration_test/query_parameters/query_parameters_test/dart_test.yaml
  integration_test/simple_encoding/simple_encoding_test/dart_test.yaml
  integration_test/test_helpers/lib/src/imposter_server.dart
  integration_test/type_arrays/type_arrays_test/dart_test.yaml
Due: none

chore: split test workflow files
  .github/workflows/integration_tests.yml
  .github/workflows/test.yml
Due: none

chore: lower concurrency on CI
  .github/workflows/integration_tests.yml
  integration_test/test_helpers/lib/src/imposter_server.dart
Due: none

chore: more parallel
  .github/workflows/integration_tests.yml
Due: none

Revert "chore: more parallel"
  .github/workflows/integration_tests.yml
Due: none
