Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "0...100"
  
  status:
    project:
      default:
        informational: true
        target: auto
        threshold: 100%
    
    patch:
      default:
        informational: true
        target: auto
        threshold: 100%

ignore:
  - "integration_test/**"
  - "**/test/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  tonik:
    paths:
      - packages/tonik/lib
  tonik_core:
    paths:
      - packages/tonik_core/lib
  tonik_generate:
    paths:
      - packages/tonik_generate/lib
  tonik_parse:
    paths:
      - packages/tonik_parse/lib
  tonik_util:
    paths:
      - packages/tonik_util/lib

test: drop redundant useQueryComponent guard assertions
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
Due: none

test: cover explode delimited enum arrays and composite path spaces
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
Due: none

chore: fix integration tests
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
Due: none

docs: scope query space %20 note to delimited styles
  docs/uri_encoding_limitations.md
Due: none

fix: base64-encode byte parameters before percent-encoding
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/byte_composite_test.dart
  integration_test/query_parameters/query_parameters_test/test/byte_object_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  packages/tonik_util/lib/src/decoding/form_decoder.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/test/src/decoding/form_decoder_test.dart
  packages/tonik_util/test/src/decoding/simple_decoder_test.dart
Due: tonik_generate, tonik_util

test: cover byte encoding across parameterProperties builders and allOf uriEncode
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_util/lib/src/decoding/form_decoder.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
Due: tonik_generate, tonik_util

feat: add reserved-preserving encoder and allowReserved flag to scalar encoders
  packages/tonik_util/lib/src/date.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/lib/src/tonik_file/tonik_file.dart
  packages/tonik_util/test/src/date_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
  packages/tonik_util/test/src/tonik_file/tonik_file_test.dart
Due: tonik_util

test: harden allowReserved encoder coverage and correct its doc comment
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

feat: thread allowReserved through List and Map form encoders
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

test: pin query-mode List/Map allowReserved paths and clarify encode comment
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

test: cover empty List/Map elements and map non-explode default byte-identity
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: none

feat: thread allowReserved through delimited, deepObject and AnyModel value encoders
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/deep_object_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/pipe_delimited_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/deep_object_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/pipe_delimited_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/space_delimited_encoder_extensions_test.dart
Due: tonik_util

fix: keep binary delimited encoders non-throwing on empty decoded value and clarify docs
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/deep_object_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/pipe_delimited_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/space_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/pipe_delimited_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/space_delimited_encoder_extensions_test.dart
Due: tonik_util

test: cover DateTime branch of encodeAnyToForm under allowReserved
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: none

feat: honor allowReserved for form-style query parameters
  .github/workflows/integration_tests.yml
  .gitignore
  docs/uri_encoding_limitations.md
  integration_test/allow_reserved/allow_reserved_test/.gitignore
  integration_test/allow_reserved/allow_reserved_test/analysis_options.yaml
  integration_test/allow_reserved/allow_reserved_test/dart_test.yaml
  integration_test/allow_reserved/allow_reserved_test/imposter/imposter-config.json
  integration_test/allow_reserved/allow_reserved_test/imposter/response.groovy
  integration_test/allow_reserved/allow_reserved_test/pubspec.yaml
  integration_test/allow_reserved/allow_reserved_test/test/form_test.dart
  integration_test/allow_reserved/openapi.yaml
  packages/tonik_generate/lib/src/operation/query_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

docs: scope allowReserved array coverage and pin form-deferral tests
  docs/uri_encoding_limitations.md
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
Due: tonik_generate

docs: refine allowReserved coverage notes and pin object form deferral
  docs/uri_encoding_limitations.md
  integration_test/allow_reserved/allow_reserved_test/test/form_test.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/util/form_entries_expression_builder_test.dart
Due: tonik_generate

docs: keep allowReserved limitations user-facing and tighten coverage notes
  docs/uri_encoding_limitations.md
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
Due: tonik_generate

docs: defer allowReserved pass-through set to the encoded-characters table
  docs/uri_encoding_limitations.md
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
Due: tonik_generate

style: drop explanatory comments from form allowReserved generator and test
  integration_test/allow_reserved/allow_reserved_test/test/form_test.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
Due: tonik_generate

style: drop boilerplate comments from allow_reserved test gitignore
  integration_test/allow_reserved/allow_reserved_test/.gitignore
Due: none

docs: revert uri_encoding_limitations changes, defer to a single rewrite when allowReserved is fully implemented
  docs/uri_encoding_limitations.md
Due: none

feat: honor allowReserved for delimited and deepObject query parameters
  integration_test/allow_reserved/allow_reserved_test/test/deep_object_test.dart
  integration_test/allow_reserved/allow_reserved_test/test/pipe_delimited_test.dart
  integration_test/allow_reserved/allow_reserved_test/test/space_delimited_test.dart
  integration_test/allow_reserved/openapi.yaml
  packages/tonik_generate/lib/src/operation/query_generator.dart
  packages/tonik_generate/lib/src/util/to_deep_object_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_deep_object_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
Due: tonik_generate

test: cover nullable string list with allowReserved through the null guard
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
Due: tonik_generate

feat: import encoding object for urlencoded form request bodies
  packages/tonik_core/lib/src/model/property_encoding.dart
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_core/lib/tonik_core.dart
  packages/tonik_core/test/model/property_encoding_test.dart
  packages/tonik_core/test/src/transformer/content_type_normalizer_test.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_core, tonik_generate, tonik_parse

fix: do not capture encoding headers for urlencoded form bodies
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_parse

test: scope form warning assertions and pin dropped encoding fields
  packages/tonik_parse/test/request_body_importer_test.dart
Due: none

feat: honor allowReserved for urlencoded form request-body properties
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

test: pin optional form body, bracket-restore safety, and enum deferral
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util

docs: drop restating doc comments from RequestBody getters
  packages/tonik_core/lib/src/model/request_body.dart
Due: tonik_core

fix: mirror the object path for per-property form-body field names and free-form values
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
Due: tonik_generate

fix: mirror the object path for per-property form-body names, lists, and maps
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
Due: tonik_generate, tonik_util

docs: rewrite and rename the URI encoding doc for allowReserved support
  docs/features.md
  docs/roadmap.md
  docs/uri_encoding.md
  docs/uri_encoding_limitations.md
  packages/tonik/README.md
Due: none

refactor: resolve form and multipart body encoding by property identity
  packages/tonik_core/lib/src/model/property_encoding.dart
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_core/lib/src/transformer/content_type_normalizer.dart
  packages/tonik_core/test/model/property_encoding_test.dart
  packages/tonik_core/test/src/transformer/content_type_normalizer_test.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_core, tonik_generate, tonik_parse

refactor: warn when a non-object form-urlencoded body carries encoding
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_core/test/src/transformer/content_type_normalizer_test.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
Due: tonik_core, tonik_generate, tonik_parse

docs: trim per-property encoding doc comments to terse WHY
  packages/tonik_core/lib/src/model/property_encoding.dart
  packages/tonik_core/lib/src/model/request_body.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
Due: tonik_core, tonik_generate, tonik_parse

fix!: emit additionalProperties and honor allOf allowReserved in urlencoded form bodies
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/form_entries_expression_builder.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/all_of_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/model/class_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
  packages/tonik_parse/test/request_body_importer_test.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/form_field_encoding.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/form_field_encoding_test.dart
Due: tonik_generate, tonik_parse, tonik_util

docs: honor allowReserved for form-body array properties in docs and tests
  docs/uri_encoding.md
  integration_test/form_urlencoded/form_urlencoded_test/imposter/response.groovy
  integration_test/form_urlencoded/form_urlencoded_test/test/form_encoding_test.dart
  integration_test/form_urlencoded/openapi.yaml
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_util/test/src/encoding/form_field_encoding_test.dart
Due: tonik_generate

fix!: percent-encode object property keys in form explode:false encoding
  integration_test/boolean_schemas/boolean_schemas_test/test/query_parameters_test.dart
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/form_test.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/uri_encoder_extensions.dart
  packages/tonik_util/test/form_encoder_decoder_round_trip_test.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/uri_encoder_extensions_test.dart
Due: tonik_util
