Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

Match deepObject dispatch for delimited object query params
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
Due: tonik_generate

Add AnyModel object flattening for delimited query params
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/util/composite_guard_builders.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/all_of_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/class_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_delimited_generator_test.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/string_map_delimited_encoder_extensions.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/string_map_delimited_encoder_extensions_test.dart
Due: tonik_generate, tonik_util

Add integration coverage for delimited object query shapes
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
Due: none

Correct delimited docs, drop dead explode param, pin explode:true any
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/operation/query_generator_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/encodable.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/string_map_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_generate, tonik_util

Trim delimited encoder doc comments and add space-delimited int-throw parity test
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/string_map_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_util

Drop spurious '=' for empty members in label object params
  integration_test/path_encoding/path_encoding_test/test/label_test.dart
  packages/tonik_util/lib/src/encoding/label_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/label_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

Drop spurious '=' for empty members in simple object params
  integration_test/path_encoding/path_encoding_test/test/simple_test.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/simple_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
  packages/tonik_util/test/src/encoding/simple_encoder_extensions_test.dart
Due: tonik_util

Analyze each integration test package in parallel
  .github/workflows/lint.yml
Due: none

Remove redundant label encoding comments
  packages/tonik_util/lib/src/encoding/label_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
Due: tonik_util

Remove redundant simple encoding comments
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/simple_encoder_extensions.dart
Due: tonik_util

Shard generated code analysis across runners
  .github/workflows/lint.yml
Due: none

Support array and dynamic-map values for delimited AnyModel params
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/lib/src/encoding/string_map_delimited_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_util

Distribute generated packages across shards
  .github/workflows/lint.yml
Due: none

Shard integration tests across runners
  .github/workflows/integration_tests.yml
  .github/workflows/lint.yml
Due: none

Generate integration code per matrix variant
  .github/workflows/integration_tests.yml
Due: none

Omit null delimited members, fix any-list tests, revert fixture to 3.0.4
  integration_test/boolean_schemas/boolean_schemas_test/test/query_parameters_test.dart
  integration_test/query_parameters/openapi.yaml
  integration_test/query_parameters/query_parameters_test/test/pipe_delimited_test.dart
  integration_test/query_parameters/query_parameters_test/test/space_delimited_test.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
Due: tonik_util

Archive generated code before artifact upload
  .github/workflows/integration_tests.yml
Due: none

Drop what-narration from encodeAnyToPipeDelimited doc
  packages/tonik_util/lib/src/encoding/any_encoding.dart
Due: tonik_util

Run integration shards by package
  .github/workflows/integration_tests.yml
Due: none

Avoid concurrent Imposter test packages
  .github/workflows/integration_tests.yml
Due: none

Allow empty scalar values in deep object encoding
  integration_test/query_parameters/query_parameters_test/test/deep_object_test.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

Encode empty path parameter arrays per OpenAPI
  packages/tonik_util/lib/src/encoding/label_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/matrix_encoder_extensions.dart
  packages/tonik_util/test/src/encoding/label_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/matrix_encoder_extensions_test.dart
Due: tonik_util

chore(release): publish packages
  CHANGELOG.md
  integration_test/additional_properties/additional_properties_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defaulted/defaulted_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.lock
  integration_test/nullable_bodies/nullable_bodies_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/recursive_map/recursive_map_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

feat: support response charsets
  docs/features.md
  docs/roadmap.md
  integration_test/medama/medama_test/test/non_utf8_response_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_util/lib/src/decoding/response_decoder.dart
  packages/tonik_util/pubspec.yaml
  packages/tonik_util/test/src/decoding/response_decoder_test.dart
Due: tonik_generate, tonik_util

fix: reject broken euc-kr decoding
  docs/features.md
  packages/tonik_util/lib/src/decoding/response_decoder.dart
  packages/tonik_util/test/src/decoding/response_decoder_test.dart
Due: tonik_util

test: expand response charset integration coverage
  integration_test/medama/medama_test/imposter/response.groovy
  integration_test/medama/medama_test/test/non_utf8_response_test.dart
Due: none

refactor(util): decouple content type parsing from Dio
  integration_test/additional_properties/additional_properties_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defaulted/defaulted_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.lock
  integration_test/nullable_bodies/nullable_bodies_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/recursive_map/recursive_map_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
  packages/tonik_util/lib/src/decoding/response_decoder.dart
  packages/tonik_util/pubspec.yaml
  packages/tonik_util/test/src/decoding/response_decoder_dependency_test.dart
  pubspec.yaml
Due: tonik_util

Strengthen server generator output tests
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_lists_test.dart
  integration_test/type_arrays/type_arrays_test/test/type_arrays_api_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
Due: none

test: strengthen server generator output coverage
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_lists_test.dart
  integration_test/type_arrays/type_arrays_test/test/type_arrays_api_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
Due: none

test: remove outdated tonik_util version assertion
  packages/tonik_generate/test/src/pubspec_generator_test.dart
Due: none

Remove outdated tonik_util version assertion
  packages/tonik_generate/test/src/pubspec_generator_test.dart
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
