Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

chore: readme update
  packages/tonik/README.md
Due: none

chore(release): publish packages
  CHANGELOG.md
  packages/tonik/CHANGELOG.md
  packages/tonik/pubspec.yaml
  packages/tonik_core/CHANGELOG.md
  packages/tonik_core/pubspec.yaml
  packages/tonik_generate/CHANGELOG.md
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/pubspec.yaml
  packages/tonik_parse/CHANGELOG.md
  packages/tonik_parse/pubspec.yaml
  packages/tonik_util/CHANGELOG.md
  packages/tonik_util/pubspec.yaml
Due: tonik_generate

chore: added run configrations
  .idea/runConfigurations/melos_run_test_integration_asana.xml
  .idea/runConfigurations/melos_run_test_integration_figma.xml
  .idea/runConfigurations/melos_run_test_integration_github.xml
  .idea/runConfigurations/melos_run_test_integration_multipart.xml
  .idea/runConfigurations/melos_run_test_integration_openai.xml
  .idea/runConfigurations/melos_run_test_integration_petstore_config.xml
  .idea/runConfigurations/melos_run_test_integration_stripe.xml
  integration_test/composition/composition_test/pubspec.lock
  integration_test/defs/defs_test/pubspec.lock
  integration_test/fastify_type_provider_zod/fastify_type_provider_zod_test/pubspec.lock
  integration_test/multipart/multipart_test/pubspec.lock
  integration_test/music_streaming/music_streaming_test/pubspec.lock
  integration_test/path_encoding/path_encoding_test/pubspec.lock
  integration_test/read_write_only/read_write_only_test/pubspec.lock
  integration_test/server_variables/server_variables_test/pubspec.lock
  integration_test/simple_encoding/simple_encoding_test/pubspec.lock
  integration_test/type_arrays/type_arrays_test/pubspec.lock
Due: none

chore: update documentation about OAS 3.1 support
  docs/features.md
  docs/roadmap.md
  packages/tonik/README.md
Due: none

chore: additional unit tests
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
  packages/tonik_parse/test/model/schema_additional_properties_test.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
  packages/tonik_util/test/src/decoding/object_decoder_test.dart
Due: tonik_generate

chore: cleanup
  integration_test/additional_properties/additional_properties_test/test/additional_properties_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/to_deep_object_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_additional_properties_test.dart
Due: tonik_generate, tonik_parse

chore: better unit tests asserts
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_deep_object_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_parse/test/model/defs_test.dart
  packages/tonik_parse/test/model/schema_additional_properties_test.dart
Due: none

fix: remove duplicate error message string in CLI error output The error message "Unexpected error while parsing OpenAPI document." was repeated twice in the severe log output.
  packages/tonik/bin/tonik.dart
Due: none

fix: add equality and hashCode to Tag class Tag had no operator== or hashCode despite being used in Set<Tag> collections on Operation, causing value-equal tags to be treated as distinct entries.
  packages/tonik_core/lib/src/model/tag.dart
Due: tonik_core

fix: resolve lint violations from previous bug fix commits
  packages/tonik_core/lib/src/model/tag.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_util/lib/src/date.dart
Due: tonik_core, tonik_generate, tonik_util

fix: address correctness and safety issues from comprehensive audit
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/label_test.dart
  integration_test/path_encoding/path_encoding_test/test/matrix_test.dart
  integration_test/path_encoding/path_encoding_test/test/simple_test.dart
  packages/tonik/lib/src/config/config_loader.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_parse/lib/src/content_type_resolver.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/content_type_resolver_test.dart
  packages/tonik_parse/test/model/inherited_discriminator_test.dart
  packages/tonik_parse/test/model/model_nullable_test.dart
  packages/tonik_parse/test/model/ref_siblings_resolution_test.dart
  packages/tonik_parse/test/model/schema_level_read_write_only_test.dart
  packages/tonik_util/lib/src/decoding/form_decoder.dart
  packages/tonik_util/lib/src/decoding/json_decoder.dart
  packages/tonik_util/lib/src/encoding/datetime_extension.dart
  packages/tonik_util/lib/src/encoding/label_encoder_extensions.dart
  packages/tonik_util/test/src/decoding/form_decoder_test.dart
  packages/tonik_util/test/src/decoding/json_decoder_test.dart
  packages/tonik_util/test/src/encoding/datetime_extension_test.dart
  packages/tonik_util/test/src/encoding/label_encoder_extensions_test.dart
  scripts/setup_integration_tests.sh
Due: tonik, tonik_generate, tonik_parse, tonik_util

fix: update existing test to expect throw instead of silent skip
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: none

fix: address PR review feedback
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
  packages/tonik_parse/lib/src/content_type_resolver.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/content_type_resolver_test.dart
Due: tonik_generate, tonik_parse

fix: clarify content-type config override test names
  packages/tonik_parse/test/content_type_resolver_test.dart
Due: none

fix: better escape strings containing ‘ or “
  .github/workflows/integration_tests.yml
  .gitignore
  integration_test/adversarial_strings/adversarial_strings_test/analysis_options.yaml
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.lock
  integration_test/adversarial_strings/adversarial_strings_test/pubspec.yaml
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/adversarial_strings/openapi.yaml
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/lib/src/util/to_delimited_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/model/any_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_label_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_matrix_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_simple_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_test.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
  packages/tonik_generate/test/src/util/to_delimited_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  scripts/setup_integration_tests.sh
Due: tonik_generate

chore: cleanup
  integration_test/adversarial_strings/adversarial_strings_test/test/adversarial_strings_test.dart
  integration_test/adversarial_strings/openapi.yaml
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: better escape strings containing part 2
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/server/server_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/server/server_generator_variables_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: handle newline characters in specLiteralStringCode
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
Due: tonik_generate

docs: update specLiteralString docstring and add escape function tests
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
Due: tonik_generate

test: use multiline string literals for realistic test inputs
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
Due: none

fix: route \r values through escaped path to avoid literal CR in source
  packages/tonik_generate/lib/src/util/spec_literal_string.dart
  packages/tonik_generate/test/src/util/spec_literal_string_test.dart
Due: tonik_generate

chore: add gen-eval claude skill
  .claude/harness/evaluator.md
  .claude/harness/generator.md
  .claude/harness/review-code.md
  .claude/harness/review-errors.md
  .claude/harness/review-tests.md
  .claude/skills/gen-eval/SKILL.md
Due: none

Update evaluator.md
  .claude/harness/evaluator.md
Due: none

feat: optionally generate code with fast_immutable_collections
  packages/tonik/bin/tonik.dart
  packages/tonik/lib/src/config/config_loader.dart
  packages/tonik/lib/src/config/tonik_config.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_core/lib/src/config/tonik_config.dart
  packages/tonik_core/test/config/tonik_config_test.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/model/typedef_generator.dart
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/operation/query_generator.dart
  packages/tonik_generate/lib/src/pubspec_generator.dart
  packages/tonik_generate/lib/src/request/request_body_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/response_wrapper/response_wrapper_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_helpers.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/type_reference_generator.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/model/typedef_generator_test.dart
  packages/tonik_generate/test/src/pubspec_generator_test.dart
  packages/tonik_generate/test/src/util/type_reference_generator_test.dart
Due: tonik, tonik_core, tonik_generate

fix: complete immutable collections support in all_of_generator
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
Due: tonik_generate

test: add unit tests for immutable collections coverage
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/util/additional_properties_helpers_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
Due: none

feat: add immutable collections integration tests and fix form/uri encoding
  integration_test/immutable_collections/immutable_collections_api/analysis_options.yaml
  integration_test/immutable_collections/immutable_collections_api/lib/immutable_collections_api.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/api_client/items_api.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/child_model.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/config.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/item_summary.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/mixed_item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/nested_list.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/string_metadata.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/tag_groups.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/operation/create_item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/operation/create_nested.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/operation/get_item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/response_wrapper/get_item_response.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/server/server.dart
  integration_test/immutable_collections/immutable_collections_api/pubspec.lock
  integration_test/immutable_collections/immutable_collections_api/pubspec.yaml
  integration_test/immutable_collections/immutable_collections_test/analysis_options.yaml
  integration_test/immutable_collections/immutable_collections_test/dart_test.yaml
  integration_test/immutable_collections/immutable_collections_test/imposter/imposter-config.json
  integration_test/immutable_collections/immutable_collections_test/imposter/response.groovy
  integration_test/immutable_collections/immutable_collections_test/pubspec.lock
  integration_test/immutable_collections/immutable_collections_test/pubspec.yaml
  integration_test/immutable_collections/immutable_collections_test/test/api_test.dart
  integration_test/immutable_collections/immutable_collections_test/test/model_test.dart
  integration_test/immutable_collections/openapi.yaml
  integration_test/immutable_collections/tonik.yaml
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  pubspec.yaml
  scripts/setup_integration_tests.sh
Due: tonik_generate

test: improve patch coverage to 97% and add coverage tooling
  .gitignore
  integration_test/immutable_collections/immutable_collections_test/test/model_test.dart
  packages/tonik/test/src/config/config_loader_test.dart
  packages/tonik_core/test/config/tonik_config_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  pubspec.yaml
  scripts/coverage.sh
Due: none

chore: remove generated API from tracking, add CI step
  .github/workflows/integration_tests.yml
  integration_test/immutable_collections/immutable_collections_api/analysis_options.yaml
  integration_test/immutable_collections/immutable_collections_api/lib/immutable_collections_api.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/api_client/items_api.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/child_model.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/config.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/item_summary.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/mixed_item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/nested_list.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/string_metadata.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/model/tag_groups.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/operation/create_item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/operation/create_nested.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/operation/get_item.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/response_wrapper/get_item_response.dart
  integration_test/immutable_collections/immutable_collections_api/lib/src/server/server.dart
  integration_test/immutable_collections/immutable_collections_api/pubspec.lock
  integration_test/immutable_collections/immutable_collections_api/pubspec.yaml
Due: none

fix: use bash prefix for melos coverage scripts
  pubspec.yaml
Due: none

chore: update roadmap
  docs/roadmap.md
Due: none

fix: address PR review comments
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  scripts/coverage.sh
Due: tonik_generate

chore: enforce test quality and coverage as hard gates in gen-eval
  .claude/harness/evaluator.md
  .claude/harness/generator.md
  .claude/harness/review-code.md
  .claude/harness/review-tests.md
  .claude/skills/gen-eval/SKILL.md
Due: none

docs: highlight per-status-code response types as key differentiator
  docs/features.md
  packages/tonik/README.md
Due: none

fix: rewrite tests to follow testing conventions
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/any_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
Due: none

fix: use dart instead of fvm in coverage script for CI compatibility
  scripts/coverage.sh
Due: none

feat: add request cancellation support via CancelToken
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
  packages/tonik_util/lib/src/tonik_result.dart
Due: tonik_generate, tonik_util

docs: document request cancellation feature
  docs/features.md
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
