Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

docs: add immutableCollections configuration and feature docs
  docs/configuration.md
  docs/features.md
Due: none

chore: fix warnings
  packages/tonik_generate/test/src/util/from_json_value_expression_generator_test.dart
Due: none

fix: preserve trailing slash in OpenAPI path segments
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
Due: tonik_generate

refactor: use specLiteralStringCode for trailing slash empty segment
  packages/tonik_generate/lib/src/operation/path_generator.dart
Due: tonik_generate

fix: keep literal suffixes in same path segment as parameters
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
Due: tonik_generate

refactor: use switch for encoding type exhaustiveness and fix edge cases
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
Due: tonik_generate

fix: resolve stack overflow on circular schema references
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/circular_reference_test.dart
  packages/tonik_parse/test/model/ref_siblings_resolution_test.dart
Due: tonik_parse

fix: prevent placeholder shadowing and strengthen cycle tests
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/circular_reference_test.dart
  packages/tonik_parse/test/model/ref_siblings_resolution_test.dart
Due: tonik_parse

fix: allow lower and uppder case response code ragnes (5xx vs 5XX)
  packages/tonik_parse/lib/src/operation_importer.dart
  packages/tonik_parse/test/operation/operation_responses_importer_test.dart
Due: tonik_parse

fix: generate runtime throw for ClassModel in list simple encoding
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
Due: tonik_generate

fix: replace all codegen-time throws with runtime throws in generated code
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/uri_encode_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_deep_object_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
  scripts/coverage.sh
Due: tonik_generate

chore: remove coverage:ignore comments
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
Due: tonik_generate

fix: use flat Code additions instead of Block.of in switch expression
  packages/tonik_generate/lib/src/operation/data_generator.dart
Due: tonik_generate

fix: escape reserved enum member names and spell out numeric property names
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
  packages/tonik_generate/test/src/naming/property_name_normalizer_test.dart
Due: tonik_generate

fix: remove self-references in writeOnly empty-properties paths
  packages/tonik_generate/lib/src/model/class_generator.dart
Due: tonik_generate

fix: resolve alias-to-primitive types in OneOf code generation
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/one_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_simple_generator_test.dart
Due: tonik_generate

refactor: add Model.resolved getter, remove alias-resolution duplication
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/response/response_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_helpers.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/lib/src/util/to_deep_object_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_parse/lib/src/request_body_importer.dart
Due: tonik_core, tonik_generate, tonik_parse

fix: resolve adjacent-string and prefer_single_quotes lint warnings in tests
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_deep_object_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_json_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  packages/tonik_generate/test/src/util/uri_encode_expression_generator_test.dart
Due: none

fix: use expression generator for additional properties toJson serialization
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/to_json_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
Due: tonik_generate

fix: prevent parameterProperties calls on List and Map types in allOf
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_form_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/all_of_matrix_generator_test.dart
Due: tonik_generate

fix: use .resolved for all ListModel checks in allOf generator
  packages/tonik_generate/lib/src/model/all_of_generator.dart
Due: tonik_generate

fix: remove dead `model is! EnumModel` check in OneOf generator
  packages/tonik_generate/lib/src/model/one_of_generator.dart
Due: tonik_generate

fix: register named ListModels early to prevent orphan duplicates
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/circular_reference_test.dart
  packages/tonik_parse/test/model/model_list_test.dart
  scripts/setup_integration_tests.sh
Due: tonik_parse

fix: use null-safe calls for encoding methods on nullable types
  .gitignore
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/lib/src/util/to_form_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_form_query_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_label_path_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_matrix_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_parameter_expression_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
  packages/tonik_generate/test/src/model/one_of_json_generator_test.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_label_path_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_matrix_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_parameter_expression_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
  scripts/setup_integration_tests.sh
Due: tonik_generate

revert: remove unrelated setup_integration_tests.sh and .gitignore changes
  .gitignore
  scripts/setup_integration_tests.sh
Due: none

fix: add null guards and empty-set checks in allOf encoding methods
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
Due: tonik_generate

fix: use full method body comparison in form query parameter tests
  packages/tonik_generate/test/src/util/to_form_query_parameter_expression_generator_test.dart
Due: none

fix: add useQueryComponent parameter to Date.toForm
  packages/tonik_util/lib/src/date.dart
  packages/tonik_util/test/src/date_test.dart
Due: tonik_util

fix: include return _$formData in _buildMultipartFields for ClassModel
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/lib/src/util/to_multipart_expression_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

chore: cleanup
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_generate/lib/src/model/one_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
Due: tonik_core, tonik_generate

fix: use buildToJsonPropertyExpression for MapModel in allOf toJson
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/test/src/model/all_of_generator_test.dart
Due: tonik_generate

fix: use non-null-aware access for nullable headers inside null-check blocks
  packages/tonik_generate/lib/src/operation/options_generator.dart
  packages/tonik_generate/lib/src/util/to_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/operation/options_generator_test.dart
  packages/tonik_generate/test/src/util/to_simple_value_expression_generator_test.dart
Due: tonik_generate

fix: use wildcard pattern in throw-only switch arms to avoid unused variable lint
  packages/tonik_generate/lib/src/operation/data_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
Due: tonik_generate

fix: sanitize naming collisions for keywords, Object members, and body params
  integration_test/naming/openapi.yaml
  packages/tonik_generate/lib/src/api_client/api_client_generator.dart
  packages/tonik_generate/lib/src/naming/name_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/naming/name_utils.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/api_client/api_client_generator_test.dart
  packages/tonik_generate/test/src/naming/name_generator_test.dart
  packages/tonik_generate/test/src/naming/name_utils_test.dart
  packages/tonik_generate/test/src/naming/property_name_normalizer_test.dart
  packages/tonik_generate/test/src/util/operation_parameter_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  scripts/setup_integration_tests.sh
Due: tonik_generate, tonik_parse

fix: distinguish user-defined Object from dart:core Object in copyWith cast
  packages/tonik_generate/lib/src/util/copy_with_method_generator.dart
  packages/tonik_generate/test/src/util/copy_with_method_generator_test.dart
Due: tonik_generate

refactor: move body collision logic into normalizeRequestParameters
  packages/tonik_generate/lib/src/naming/parameter_name_normalizer.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/lib/src/util/operation_parameter_generator.dart
  packages/tonik_generate/test/src/naming/parameter_name_normalizer_test.dart
Due: tonik_generate

feat: add naming integration test suite with CI
  .github/workflows/integration_tests.yml
  integration_test/naming/naming_test/analysis_options.yaml
  integration_test/naming/naming_test/pubspec.lock
  integration_test/naming/naming_test/pubspec.yaml
  integration_test/naming/naming_test/test/naming_test.dart
  scripts/setup_integration_tests.sh
Due: none

fix: resolve lint warnings in naming integration tests
  integration_test/naming/naming_test/test/naming_test.dart
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
