Repository t-unit/tonik: changes, and which Codecov flags are due for each by the changed paths.
All: tonik, tonik_core, tonik_generate, tonik_parse, tonik_util

fix: defer multipart definition errors
  packages/tonik_generate/lib/src/transport/dio/dio_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/lib/src/transport/operation_request_plan.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_generator_test.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/transport/operation_request_plan_test.dart
Due: tonik_generate

test: inline multipart body planning
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: none

fix: defer multipart shape errors
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/lib/src/transport/multipart_header_plan.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
Due: tonik_generate

style: put public generator API first
  packages/tonik_generate/lib/src/transport/multipart_merge_method_generator.dart
Due: tonik_generate

test: describe OAS multipart behavior
  packages/tonik_parse/test/multipart_encoding_importer_test.dart
Due: none

test: require runtime multipart failures
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
Due: none

fix: emit valid multipart types
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/lib/src/transport/multipart_merge_method_generator.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/transport/multipart_merge_method_generator_test.dart
Due: tonik_generate

chore: remove hook test
  test/commit_msg_hook_test.dart
Due: none

fix: omit redundant multipart cast
  packages/tonik_generate/lib/src/transport/multipart_merge_method_generator.dart
  packages/tonik_generate/test/src/transport/multipart_merge_method_generator_test.dart
Due: tonik_generate

fix(generate): resolve operation base filename once
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_generator.dart
  packages/tonik_generate/lib/src/operation/operation_generator.dart
  packages/tonik_generate/test/src/generator/generator_operation_base_filename_test.dart
  packages/tonik_generate/test/src/operation/operation_deprecation_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_response_test.dart
  packages/tonik_generate/test/src/operation/operation_generator_test.dart
Due: tonik_generate

refactor(generate): cache operation filenames in name manager
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/operation/operation_base_file_generator.dart
  packages/tonik_generate/lib/src/operation/operation_base_generator.dart
  packages/tonik_generate/test/src/generator/generator_operation_base_filename_test.dart
  packages/tonik_generate/test/src/naming/name_manager_test.dart
Due: tonik_generate

refactor(generate): test filename caching through name manager
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/operation/operation_base_generator.dart
  packages/tonik_generate/test/src/generator/generator_operation_base_filename_test.dart
  packages/tonik_generate/test/src/naming/name_manager_test.dart
Due: tonik_generate

refactor: share object parameter encoding across generated models
  integration_test/defaulted/defaulted_test/test/defaulted_test.dart
  integration_test/immutable_collections/immutable_collections_test/test/filters_defaults_test.dart
  integration_test/naming/naming_test/test/naming_test.dart
  integration_test/naming/openapi.yaml
  integration_test/read_write_only/read_write_only_test/test/read_write_only_api_test.dart
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_nullable_test.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_deep_object_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_immutable_collections_test.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/model/class_label_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/model/class_schema_level_read_write_only_test.dart
  packages/tonik_generate/test/src/model/class_simple_generator_test.dart
  packages/tonik_generate/test/src/model/core_prefixed_class_generator_test.dart
  packages/tonik_util/lib/src/encoding/object_parameter_encodable.dart
  packages/tonik_util/lib/tonik_util.dart
  packages/tonik_util/test/src/encoding/object_parameter_encodable_test.dart
Due: tonik_generate, tonik_util

test: remove encoder declaration absence checks
  packages/tonik_generate/test/src/model/class_delimited_generator_test.dart
  packages/tonik_generate/test/src/model/class_generator_deep_object_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/model/class_generator_test.dart
  packages/tonik_generate/test/src/model/class_label_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
  packages/tonik_generate/test/src/model/class_simple_generator_test.dart
Due: none

perf: run local integration analysis in parallel
  CONTRIBUTING.md
  packages/tonik/test/integration_analysis_scripts_test.dart
  scripts/analyze_integration_packages.sh
  scripts/integration_package_utils.sh
  scripts/test_current_integration.sh
Due: none

perf: enable parallel integration analysis in CI
  CONTRIBUTING.md
  packages/tonik/test/integration_analysis_scripts_test.dart
  scripts/analyze_integration_packages.sh
Due: none

test: remove integration support script tests
  packages/tonik/test/integration_analysis_scripts_test.dart
Due: none

fix: preserve defaults on compound schemas
  docs/defaults.md
  integration_test/defaulted/defaulted_test/test/compound_defaults_test.dart
  integration_test/defaulted/openapi.yaml
  packages/tonik_core/lib/src/model/effective_default.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/transformer/allof_normalizer.dart
  packages/tonik_core/test/src/model/effective_default_test.dart
  packages/tonik_core/test/src/transformer/allof_normalizer_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/compound_default_value_test.dart
Due: tonik_core, tonik_parse

test: simplify compound default regressions
  integration_test/defaulted/defaulted_test/test/compound_defaults_test.dart
  packages/tonik_core/test/src/model/effective_default_test.dart
  packages/tonik_parse/test/model/compound_default_value_test.dart
Due: none

fix: encode form query names independently of allowReserved
  integration_test/allow_reserved/allow_reserved_test/test/form_name_test.dart
  integration_test/allow_reserved/openapi.yaml
  packages/tonik_util/lib/src/date.dart
  packages/tonik_util/lib/src/encoding/any_encoding.dart
  packages/tonik_util/lib/src/encoding/form_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/property_value_form_encoder.dart
  packages/tonik_util/test/src/date_test.dart
  packages/tonik_util/test/src/encoding/any_encoding_test.dart
  packages/tonik_util/test/src/encoding/form_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/property_value_form_encoder_test.dart
Due: tonik_util

fix: omit empty matrix objects during path encoding
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/empty_matrix_object_test.dart
  packages/tonik_util/lib/src/encoding/matrix_encoder_extensions.dart
  packages/tonik_util/lib/src/encoding/property_value_style_encoders.dart
  packages/tonik_util/test/src/encoding/matrix_encoder_extensions_test.dart
  packages/tonik_util/test/src/encoding/object_parameter_encodable_test.dart
  packages/tonik_util/test/src/encoding/property_value_style_encoders_test.dart
Due: tonik_util

fix: preserve raw bytes in Dio binary requests
  integration_test/binary_models/binary_models_test/test/binary_request_wire_test.dart
  integration_test/binary_models/openapi.yaml
  packages/tonik_generate/lib/src/transport/dio/dio_data_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
Due: tonik_generate

fix: ignore reserved header parameters
  packages/tonik/test/reserved_header_parameters_test.dart
  packages/tonik_parse/lib/src/request_parameter_importer.dart
  packages/tonik_parse/test/operation/operation_parameters_importer_test.dart
  packages/tonik_parse/test/reserved_header_parameter_test.dart
Due: tonik_parse

fix: preserve date-time enum wire values
  docs/data_types.md
  integration_test/adversarial_strings/adversarial_strings_test/test/date_time_enum_test.dart
  integration_test/adversarial_strings/openapi.yaml
  packages/tonik_core/lib/src/model/effective_default.dart
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/test/src/model/effective_default_test.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/lib/src/naming/property_name_normalizer.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_enum_test.dart
Due: tonik_core, tonik_generate, tonik_parse

fix: decode simple map response headers
  integration_test/simple_encoding/openapi.yaml
  integration_test/simple_encoding/simple_encoding_test/test/response_header_maps_test.dart
  packages/tonik_generate/lib/src/model/all_of_generator.dart
  packages/tonik_generate/lib/src/model/any_of_generator.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/lib/src/util/from_simple_value_expression_generator.dart
  packages/tonik_generate/test/src/model/all_of_simple_generator_test.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_generate/test/src/util/from_simple_value_expression_generator_test.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/test/src/decoding/simple_decoder_test.dart
Due: tonik_generate, tonik_util

fix: ignore response Content-Type header definitions
  packages/tonik/test/reserved_response_header_test.dart
  packages/tonik_parse/lib/src/response_importer.dart
  packages/tonik_parse/test/reserved_response_header_test.dart
Due: tonik_parse

fix: parse empty schemas as any JSON value
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_empty_schema_test.dart
Due: tonik_parse

test: keep reserved header coverage in parser tests
  packages/tonik/test/reserved_header_parameters_test.dart
  packages/tonik/test/reserved_response_header_test.dart
Due: none

refactor: represent date-time enums with a core subtype
  docs/defaults.md
  integration_test/adversarial_strings/adversarial_strings_test/test/date_time_enum_test.dart
  integration_test/adversarial_strings/openapi.yaml
  packages/tonik_core/lib/src/model/model.dart
  packages/tonik_core/lib/src/util/stable_model_key.dart
  packages/tonik_core/test/src/model/effective_default_test.dart
  packages/tonik_core/test/src/model/model_test.dart
  packages/tonik_core/test/src/util/stable_model_key_test.dart
  packages/tonik_generate/lib/src/model/enum_generator.dart
  packages/tonik_generate/lib/src/naming/name_manager.dart
  packages/tonik_generate/test/src/model/enum_generator_test.dart
  packages/tonik_parse/lib/src/model_importer.dart
  packages/tonik_parse/test/model/model_enum_test.dart
Due: tonik_core, tonik_generate, tonik_parse

fix: normalize unconstrained allOf members during generation
  integration_test/composition/composition_test/test/unconstrained_all_of_test.dart
  integration_test/composition/openapi.yaml
  packages/tonik_core/lib/src/transformer/allof_normalizer.dart
  packages/tonik_core/test/src/transformer/allof_unconstrained_normalizer_test.dart
  packages/tonik_generate/lib/src/generator.dart
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/lib/src/util/additional_properties_builders.dart
  packages/tonik_generate/test/src/generator/generator_unconstrained_allof_test.dart
  packages/tonik_generate/test/src/model/class_generator_parameter_encoding_test.dart
  packages/tonik_generate/test/src/util/additional_properties_builders_test.dart
Due: tonik_core, tonik_generate

test: cover reserved headers in integration suite
  integration_test/simple_encoding/openapi.yaml
  integration_test/simple_encoding/simple_encoding_test/test/reserved_headers_test.dart
Due: none

fix: preserve adjacent path parameter expansions
  integration_test/path_encoding/openapi.yaml
  integration_test/path_encoding/path_encoding_test/test/adjacent_parameters_test.dart
  packages/tonik_generate/lib/src/operation/path_generator.dart
  packages/tonik_generate/test/src/operation/path_generator_test.dart
Due: tonik_generate

fix: preserve empty string response headers
  integration_test/simple_encoding/simple_encoding_test/test/empty_string_response_header_test.dart
  packages/tonik_util/lib/src/decoding/simple_decoder.dart
  packages/tonik_util/test/src/decoding/simple_decoder_test.dart
Due: tonik_util

fix: enforce required nullable property presence
  integration_test/nullable_bodies/nullable_bodies_test/test/required_nullable_property_test.dart
  integration_test/nullable_bodies/openapi.yaml
  packages/tonik_generate/lib/src/model/class_generator.dart
  packages/tonik_generate/test/src/model/class_json_generator_test.dart
  packages/tonik_generate/test/src/model/class_read_only_write_only_test.dart
Due: tonik_generate

fix: dispatch parameterized response media types
  integration_test/structured_syntax_suffix/openapi.yaml
  integration_test/structured_syntax_suffix/structured_syntax_suffix_test/test/parameterized_response_test.dart
  packages/tonik_generate/lib/src/operation/parse_generator.dart
  packages/tonik_generate/test/src/operation/parse_generator_test.dart
  packages/tonik_util/lib/src/decoding/media_type.dart
  packages/tonik_util/test/src/decoding/media_type_test.dart
Due: tonik_generate, tonik_util

fix: preserve multipart binary content types
  integration_test/multipart/multipart_test/test/binary_content_type_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: emit separate multipart object array parts
  integration_test/multipart/multipart_test/test/object_array_parts_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: base64 encode multipart byte fields
  integration_test/multipart/multipart_test/test/base64_parts_test.dart
  integration_test/multipart/multipart_test/test/multipart_3_1_test.dart
  integration_test/multipart/multipart_test/test/multipart_test.dart
  integration_test/multipart/openapi.yaml
  packages/tonik_generate/lib/src/transport/multipart_body_planner.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
Due: tonik_generate

fix: escape backslashes in multipart quoted names
  integration_test/multipart/multipart_test/test/quoted_names_test.dart
  integration_test/multipart/openapi.yaml
  integration_test/multipart/openapi_3_1.yaml
  packages/tonik_generate/lib/src/transport/dio/dio_multipart_generator.dart
  packages/tonik_generate/lib/src/transport/http/http_multipart_generator.dart
  packages/tonik_generate/test/src/operation/data_generator_test.dart
  packages/tonik_generate/test/src/transport/dio_backend_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_body_generator_test.dart
  packages/tonik_generate/test/src/transport/http/http_multipart_generator_test.dart
  packages/tonik_generate/test/src/transport/multipart_body_planner_test.dart
  packages/tonik_generate/test/src/util/to_multipart_expression_generator_test.dart
  packages/tonik_util/lib/src/multipart/tonik_multipart_body.dart
  packages/tonik_util/test/src/multipart/tonik_multipart_body_test.dart
Due: tonik_generate, tonik_util

test: retain empty alias response headers
  integration_test/simple_encoding/simple_encoding_test/test/header_roundtrip_aliases_test.dart
Due: none

Path conditions:
  tonik: any of: packages/tonik/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_core: any of: packages/tonik_core/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_generate: any of: packages/tonik_generate/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_parse: any of: packages/tonik_parse/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
  tonik_util: any of: packages/tonik_util/lib, but not: integration_test/**, **/test/**, **/*.g.dart, **/*.freezed.dart
